<div class="tipus" (contextmenu)="__elementSelectionService.select('2090705797',$event)" [ngStyle]="__elementSelectionService.getStyles('2090705797')"(click)='__elementSelectionService.clear()'>
  <div style="border-bottom: 1px solid #eeeeee;padding-bottom: 7px;" (contextmenu)="__elementSelectionService.select('1378265237',$event)" [ngStyle]="__elementSelectionService.getStyles('1378265237')"></div>
  <div style="font-style: italic; opacity: 0.4; font-size: larger;  padding: 7px; text-align: center" (contextmenu)="__elementSelectionService.select('951603622',$event)" [ngStyle]="__elementSelectionService.getStyles('951603622')">Ingatlanokr&#243;l k&#233;sz&#252;lt k&#233;pek</div>
  <div style="border-bottom: 1px solid #eeeeee;" (contextmenu)="__elementSelectionService.select('1836261556',$event)" [ngStyle]="__elementSelectionService.getStyles('1836261556')"></div>
</div>
<div class="grid-container" (contextmenu)="__elementSelectionService.select('307173216',$event)" [ngStyle]="__elementSelectionService.getStyles('307173216')"(click)='__elementSelectionService.clear()'>
  <app-ingatlan-kepek (contextmenu)="__elementSelectionService.select('701519815',$event)" [ngStyle]="__elementSelectionService.getStyles('701519815')"></app-ingatlan-kepek>
</div>
