<div class="tipus" (contextmenu)="__elementSelectionService.select('1584117119',$event)" [ngStyle]="__elementSelectionService.getStyles('1584117119')"(click)='__elementSelectionService.clear()'>
  <div style="padding-bottom: 7px;" (contextmenu)="__elementSelectionService.select('801917',$event)" [ngStyle]="__elementSelectionService.getStyles('801917')"></div>
  <div style="font-size: larger;  padding: 7px" (contextmenu)="__elementSelectionService.select('1190769888',$event)" [ngStyle]="__elementSelectionService.getStyles('1190769888')"></div>
  <div (contextmenu)="__elementSelectionService.select('323161526',$event)" [ngStyle]="__elementSelectionService.getStyles('323161526')"></div>
</div>
<div class="grid-container" (contextmenu)="__elementSelectionService.select('841913271',$event)" [ngStyle]="__elementSelectionService.getStyles('841913271')"(click)='__elementSelectionService.clear()'>
  <app-ingatlan-kepek (contextmenu)="__elementSelectionService.select('1506958584',$event)" [ngStyle]="__elementSelectionService.getStyles('1506958584')"></app-ingatlan-kepek>
</div>
