<div *ngIf="headerOnTop">
<nav class="headerTop navbar navbar-expand-lg navbar-light shadow rounded">
  <div class="collapse navbar-collapse">
    <div class="container">
      <div class="nav-item active align-self-end col" id="mainPageImage" routerLinkActive="active">
      <span class="navbar-text">
      <img width="200" src="../../assets/tothegith/seged/MainPict.png" (load)="onImageLoad($event)">
        </span>
      </div>
      <ul class="navbar-nav container">
        <li class="nav-item">
          <a routerLink="/" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button">Kezdőoldal</a>
        </li>
         <li class="nav-item">
          <a routerLink="/ingatlankepek" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button">Ingatlanfotók</a>
        </li>
        <!-- <li class="nav-item dropdown dropright" id="navbarGalleryDropdownMainMenuLink">
          <a class="nav-link dropdown-toggle  dropdown-toggle-split" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Galléria
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarGalleryDropdownMainMenuLink">
            <a class="dropdown-item" routerLink="/kepek/ingatlanok">Ingatlanfotózás</a>
            <a class="dropdown-item" routerLink="/kepek/ceges">Céges fotozás</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/kepek/egyeb">Egyéb témák</a>
          </div>
        </li> -->
        <li class="nav-item">
          <a routerLink="/bemutatkozas" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button"
             id="navbarAboutMainMenuLink">
            Bemutatkozás
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/kapcsolat" class="nav-link" aria-haspopup="true" aria-expanded="false"
             role="button">Kapcsolat</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
</div>

<div *ngIf="headerScrolled">
  <nav class="headerScroll navbar navbar-expand-lg navbar-light shadow rounded sticky-top">
    <div class="collapse navbar-collapse" >
      <div class="container">
        <ul class="navbar-nav container">
          <li class="nav-item">
            <a routerLink="/" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button">Kezdőoldal</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ingatlankepek" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button"
               id="navbarGalleryMiddleMenuLink">
              Ingatlanfotózás
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/bemutatkozas" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button"
               id="navbarAboutMiddleMenuLink">
              Bemutatkozás
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/kapcsolat" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button">Kapcsolat</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div *ngIf="headerNarrowed">
  <nav class="headerNarrow navbar navbar-expand navbar-light shadow rounded" style="">
    <div class="collapse navbar-collapse">
      <div class="container dropdown">
          <a class="dropdown" data-toggle="dropdown" id="navbarNarrowDropdownMenuLink">
              <img class="photoIcon" src="../../favicon.ico">
          </a>
            <div class="dropdown-menu show" aria-labelledby="navbarNarrowDropdownMenuLink" >
              <a class="dropdown-item" routerLink="/ingatlankepek">Ingatlanfotózás</a>
              <a class="dropdown-item" routerLink="/bemutatkozas">Bemutatkozás</a>
              <a class="dropdown-item" routerLink="/">Kezdőoldal</a>
              <a class="dropdown-item" routerLink="/kapcsolat">Kapcsolat</a>
            </div>
      </div>
    </div>
  </nav>
</div>
