<div class="bg-img" (contextmenu)="__elementSelectionService.select('1395436569',$event)" [ngStyle]="__elementSelectionService.getStyles('1395436569')"(click)='__elementSelectionService.clear()'>
  <img id="main-bg" src="../../assets/images/seged/hatter.jpg" (contextmenu)="__elementSelectionService.select('1268064696',$event)" [ngStyle]="__elementSelectionService.getStyles('1268064696')">
  <div (contextmenu)="__elementSelectionService.select('1980027538',$event)" [ngStyle]="__elementSelectionService.getStyles('1980027538')">
    <div class="styledDoubleLines" (contextmenu)="__elementSelectionService.select('155276477',$event)" [ngStyle]="__elementSelectionService.getStyles('155276477')">
      <div class="grid-container" (contextmenu)="__elementSelectionService.select('1129316454',$event)" [ngStyle]="__elementSelectionService.getStyles('1129316454')">
        <app-leiras (contextmenu)="__elementSelectionService.select('556429653',$event)" [ngStyle]="__elementSelectionService.getStyles('556429653')"></app-leiras>
      </div>
    </div>
  </div>
</div>



