<div class="bg-img" (contextmenu)="__elementSelectionService.select('546445495',$event)" [ngStyle]="__elementSelectionService.getStyles('546445495')"(click)='__elementSelectionService.clear()'>
  <img id="main-bg" src="../../assets/images/seged/hatter.jpg" (contextmenu)="__elementSelectionService.select('1603269393',$event)" [ngStyle]="__elementSelectionService.getStyles('1603269393')">
  <div (contextmenu)="__elementSelectionService.select('2088232793',$event)" [ngStyle]="__elementSelectionService.getStyles('2088232793')">
    <div class="styledDoubleLines" (contextmenu)="__elementSelectionService.select('1106363496',$event)" [ngStyle]="__elementSelectionService.getStyles('1106363496')">
      <div class="grid-container" (contextmenu)="__elementSelectionService.select('769737526',$event)" [ngStyle]="__elementSelectionService.getStyles('769737526')">
        <app-leiras (contextmenu)="__elementSelectionService.select('232143584',$event)" [ngStyle]="__elementSelectionService.getStyles('232143584')"></app-leiras>
      </div>
    </div>
  </div>
</div>



