<div class="bg-img" (contextmenu)="__elementSelectionService.select('1831286779',$event)" [ngStyle]="__elementSelectionService.getStyles('1831286779')"(click)='__elementSelectionService.clear()'>
  <img id="main-bg" src="../../assets/images/seged/hatter.jpg" (contextmenu)="__elementSelectionService.select('1104999986',$event)" [ngStyle]="__elementSelectionService.getStyles('1104999986')">
  <div (contextmenu)="__elementSelectionService.select('693743920',$event)" [ngStyle]="__elementSelectionService.getStyles('693743920')">
    <div class="styledDoubleLines" (contextmenu)="__elementSelectionService.select('1712539775',$event)" [ngStyle]="__elementSelectionService.getStyles('1712539775')">
      <div class="grid-container" (contextmenu)="__elementSelectionService.select('947275208',$event)" [ngStyle]="__elementSelectionService.getStyles('947275208')">
        <app-leiras (contextmenu)="__elementSelectionService.select('507337106',$event)" [ngStyle]="__elementSelectionService.getStyles('507337106')"></app-leiras>
      </div>
    </div>
  </div>
</div>



