<div *ngIf="headerOnTop" (contextmenu)="__elementSelectionService.select('131202639',$event)" [ngStyle]="__elementSelectionService.getStyles('131202639')"(click)='__elementSelectionService.clear()'>
<nav class="headerTop navbar navbar-expand-lg navbar-light shadow rounded" (contextmenu)="__elementSelectionService.select('1113223631',$event)" [ngStyle]="__elementSelectionService.getStyles('1113223631')">
  <div class="collapse navbar-collapse" (contextmenu)="__elementSelectionService.select('12247516',$event)" [ngStyle]="__elementSelectionService.getStyles('12247516')">
    <div class="container" (contextmenu)="__elementSelectionService.select('1113647367',$event)" [ngStyle]="__elementSelectionService.getStyles('1113647367')">
      <div class="nav-item active align-self-end col" id="mainPageImage" routerLinkActive="active" (contextmenu)="__elementSelectionService.select('1586777522',$event)" [ngStyle]="__elementSelectionService.getStyles('1586777522')">
      <span class="navbar-text" (contextmenu)="__elementSelectionService.select('1330744230',$event)" [ngStyle]="__elementSelectionService.getStyles('1330744230')">
      <img width="200" src="../../assets/tothegith/seged/MainPict.png" (load)="onImageLoad($event)" (contextmenu)="__elementSelectionService.select('405940113',$event)" [ngStyle]="__elementSelectionService.getStyles('405940113')">
        </span>
      </div>
      <ul class="navbar-nav container" (contextmenu)="__elementSelectionService.select('1566563649',$event)" [ngStyle]="__elementSelectionService.getStyles('1566563649')">
        <li class="nav-item" (contextmenu)="__elementSelectionService.select('567997061',$event)" [ngStyle]="__elementSelectionService.getStyles('567997061')">
          <a routerLink="/" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" (contextmenu)="__elementSelectionService.select('1653948835',$event)" [ngStyle]="__elementSelectionService.getStyles('1653948835')">Kezd&#337;oldal</a>
        </li>
         <li class="nav-item" (contextmenu)="__elementSelectionService.select('1796402383',$event)" [ngStyle]="__elementSelectionService.getStyles('1796402383')">
          <a routerLink="/ingatlankepek" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" (contextmenu)="__elementSelectionService.select('1208258873',$event)" [ngStyle]="__elementSelectionService.getStyles('1208258873')">Ingatlanfot&#243;z&#225;s</a>
        </li>
        
        <li class="nav-item" (contextmenu)="__elementSelectionService.select('1052511334',$event)" [ngStyle]="__elementSelectionService.getStyles('1052511334')">
          <a routerLink="/bemutatkozas" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" id="navbarAboutMainMenuLink" (contextmenu)="__elementSelectionService.select('1995233867',$event)" [ngStyle]="__elementSelectionService.getStyles('1995233867')">
            Bemutatkoz&#225;s
          </a>
        </li>
        <li class="nav-item" (contextmenu)="__elementSelectionService.select('182727885',$event)" [ngStyle]="__elementSelectionService.getStyles('182727885')">
          <a routerLink="/kapcsolat" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" (contextmenu)="__elementSelectionService.select('1711661553',$event)" [ngStyle]="__elementSelectionService.getStyles('1711661553')">Kapcsolat</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
</div>

<div *ngIf="headerScrolled" (contextmenu)="__elementSelectionService.select('710787419',$event)" [ngStyle]="__elementSelectionService.getStyles('710787419')"(click)='__elementSelectionService.clear()'>
  <nav class="headerScroll navbar navbar-expand-lg navbar-light shadow rounded sticky-top" (contextmenu)="__elementSelectionService.select('948178539',$event)" [ngStyle]="__elementSelectionService.getStyles('948178539')">
    <div class="collapse navbar-collapse" (contextmenu)="__elementSelectionService.select('682276274',$event)" [ngStyle]="__elementSelectionService.getStyles('682276274')">
      <div class="container" (contextmenu)="__elementSelectionService.select('63155766',$event)" [ngStyle]="__elementSelectionService.getStyles('63155766')">
        <ul class="navbar-nav container" (contextmenu)="__elementSelectionService.select('1249955286',$event)" [ngStyle]="__elementSelectionService.getStyles('1249955286')">
          <li class="nav-item" (contextmenu)="__elementSelectionService.select('1383032251',$event)" [ngStyle]="__elementSelectionService.getStyles('1383032251')">
            <a routerLink="/" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" (contextmenu)="__elementSelectionService.select('789925217',$event)" [ngStyle]="__elementSelectionService.getStyles('789925217')">Kezd&#337;oldal</a>
          </li>
          <li class="nav-item" (contextmenu)="__elementSelectionService.select('834266283',$event)" [ngStyle]="__elementSelectionService.getStyles('834266283')">
            
            <a routerLink="/ingatlankepek" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" id="navbarGalleryMiddleMenuLink" (contextmenu)="__elementSelectionService.select('2098950455',$event)" [ngStyle]="__elementSelectionService.getStyles('2098950455')">
              Ingatlanfot&#243;z&#225;s
            </a>
          </li>
          <li class="nav-item" (contextmenu)="__elementSelectionService.select('1416659346',$event)" [ngStyle]="__elementSelectionService.getStyles('1416659346')">
            <a routerLink="/bemutatkozas" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" id="navbarAboutMiddleMenuLink" (contextmenu)="__elementSelectionService.select('1368109112',$event)" [ngStyle]="__elementSelectionService.getStyles('1368109112')">
              Bemutatkoz&#225;s
            </a>
          </li>
          <li class="nav-item" (contextmenu)="__elementSelectionService.select('803834398',$event)" [ngStyle]="__elementSelectionService.getStyles('803834398')">
            <a routerLink="/kapcsolat" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" (contextmenu)="__elementSelectionService.select('165532701',$event)" [ngStyle]="__elementSelectionService.getStyles('165532701')">Kapcsolat</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div *ngIf="headerNarrowed" (contextmenu)="__elementSelectionService.select('1811233522',$event)" [ngStyle]="__elementSelectionService.getStyles('1811233522')"(click)='__elementSelectionService.clear()'>
  <nav class="headerNarrow navbar navbar-expand navbar-light shadow rounded" style (contextmenu)="__elementSelectionService.select('1500620965',$event)" [ngStyle]="__elementSelectionService.getStyles('1500620965')">
    <div class="collapse navbar-collapse" (contextmenu)="__elementSelectionService.select('1442306499',$event)" [ngStyle]="__elementSelectionService.getStyles('1442306499')">
      <div class="container dropdown" (contextmenu)="__elementSelectionService.select('908918809',$event)" [ngStyle]="__elementSelectionService.getStyles('908918809')">
          <a class="dropdown" data-toggle="dropdown" id="navbarNarrowDropdownMenuLink" (contextmenu)="__elementSelectionService.select('1362581501',$event)" [ngStyle]="__elementSelectionService.getStyles('1362581501')">
              <img class="photoIcon" src="../../favicon.ico" (contextmenu)="__elementSelectionService.select('98040318',$event)" [ngStyle]="__elementSelectionService.getStyles('98040318')">
          </a>
            <div class="dropdown-menu" aria-labelledby="navbarNarrowDropdownMenuLink" (contextmenu)="__elementSelectionService.select('1854210374',$event)" [ngStyle]="__elementSelectionService.getStyles('1854210374')">
              <a class="dropdown-item" routerLink="/ingatlankepek" (contextmenu)="__elementSelectionService.select('813099335',$event)" [ngStyle]="__elementSelectionService.getStyles('813099335')">Ingatlanfot&#243;z&#225;s</a>
              <a class="dropdown-item" routerLink="/bemutatkozas" (contextmenu)="__elementSelectionService.select('1536542731',$event)" [ngStyle]="__elementSelectionService.getStyles('1536542731')">Bemutatkoz&#225;s</a>
              <a class="dropdown-item" routerLink="/" (contextmenu)="__elementSelectionService.select('1631044238',$event)" [ngStyle]="__elementSelectionService.getStyles('1631044238')">Kezd&#337;oldal</a>
              <a class="dropdown-item" routerLink="/kapcsolat" (contextmenu)="__elementSelectionService.select('670986463',$event)" [ngStyle]="__elementSelectionService.getStyles('670986463')">Kapcsolat</a>
            </div>
      </div>
    </div>
  </nav>
</div>
