<div *ngIf="headerOnTop" (contextmenu)="__elementSelectionService.select('463156491',$event)" [ngStyle]="__elementSelectionService.getStyles('463156491')"(click)='__elementSelectionService.clear()'>
<nav class="headerTop navbar navbar-expand-lg navbar-light shadow rounded" (contextmenu)="__elementSelectionService.select('2118573174',$event)" [ngStyle]="__elementSelectionService.getStyles('2118573174')">
  <div class="collapse navbar-collapse" (contextmenu)="__elementSelectionService.select('818071417',$event)" [ngStyle]="__elementSelectionService.getStyles('818071417')">
    <div class="container" (contextmenu)="__elementSelectionService.select('1766325241',$event)" [ngStyle]="__elementSelectionService.getStyles('1766325241')">
      <div class="nav-item active align-self-end col" id="mainPageImage" routerLinkActive="active" (contextmenu)="__elementSelectionService.select('376261512',$event)" [ngStyle]="__elementSelectionService.getStyles('376261512')">
      <span class="navbar-text" (contextmenu)="__elementSelectionService.select('1577095263',$event)" [ngStyle]="__elementSelectionService.getStyles('1577095263')">
      <img width="200" src="../../assets/tothegith/seged/MainPict.png" (load)="onImageLoad($event)" (contextmenu)="__elementSelectionService.select('2019519977',$event)" [ngStyle]="__elementSelectionService.getStyles('2019519977')">
        </span>
      </div>
      <ul class="navbar-nav container" (contextmenu)="__elementSelectionService.select('772921640',$event)" [ngStyle]="__elementSelectionService.getStyles('772921640')">
        <li class="nav-item" (contextmenu)="__elementSelectionService.select('1390208617',$event)" [ngStyle]="__elementSelectionService.getStyles('1390208617')">
          <a routerLink="/" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" (contextmenu)="__elementSelectionService.select('134485509',$event)" [ngStyle]="__elementSelectionService.getStyles('134485509')">Kezd&#337;oldal</a>
        </li>
         <li class="nav-item" (contextmenu)="__elementSelectionService.select('188158665',$event)" [ngStyle]="__elementSelectionService.getStyles('188158665')">
          <a routerLink="/ingatlankepek" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" (contextmenu)="__elementSelectionService.select('726614558',$event)" [ngStyle]="__elementSelectionService.getStyles('726614558')">Ingatlanfot&#243;k</a>
        </li>
        
        <li class="nav-item" (contextmenu)="__elementSelectionService.select('513083056',$event)" [ngStyle]="__elementSelectionService.getStyles('513083056')">
          <a routerLink="/bemutatkozas" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" id="navbarAboutMainMenuLink" (contextmenu)="__elementSelectionService.select('914984793',$event)" [ngStyle]="__elementSelectionService.getStyles('914984793')">
            Bemutatkoz&#225;s
          </a>
        </li>
        <li class="nav-item" (contextmenu)="__elementSelectionService.select('85680667',$event)" [ngStyle]="__elementSelectionService.getStyles('85680667')">
          <a routerLink="/kapcsolat" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" (contextmenu)="__elementSelectionService.select('1410703124',$event)" [ngStyle]="__elementSelectionService.getStyles('1410703124')">Kapcsolat</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
</div>

<div *ngIf="headerScrolled" (contextmenu)="__elementSelectionService.select('1910866146',$event)" [ngStyle]="__elementSelectionService.getStyles('1910866146')"(click)='__elementSelectionService.clear()'>
  <nav class="headerScroll navbar navbar-expand-lg navbar-light shadow rounded sticky-top" (contextmenu)="__elementSelectionService.select('1644405664',$event)" [ngStyle]="__elementSelectionService.getStyles('1644405664')">
    <div class="collapse navbar-collapse" (contextmenu)="__elementSelectionService.select('403315710',$event)" [ngStyle]="__elementSelectionService.getStyles('403315710')">
      <div class="container" (contextmenu)="__elementSelectionService.select('1180678494',$event)" [ngStyle]="__elementSelectionService.getStyles('1180678494')">
        <ul class="navbar-nav container" (contextmenu)="__elementSelectionService.select('1053455294',$event)" [ngStyle]="__elementSelectionService.getStyles('1053455294')">
          <li class="nav-item" (contextmenu)="__elementSelectionService.select('1101781348',$event)" [ngStyle]="__elementSelectionService.getStyles('1101781348')">
            <a routerLink="/" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" (contextmenu)="__elementSelectionService.select('162987844',$event)" [ngStyle]="__elementSelectionService.getStyles('162987844')">Kezd&#337;oldal</a>
          </li>
          <li class="nav-item" (contextmenu)="__elementSelectionService.select('840442469',$event)" [ngStyle]="__elementSelectionService.getStyles('840442469')">
            <a routerLink="/ingatlankepek" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" id="navbarGalleryMiddleMenuLink" (contextmenu)="__elementSelectionService.select('1604513819',$event)" [ngStyle]="__elementSelectionService.getStyles('1604513819')">
              Ingatlanfot&#243;z&#225;s
            </a>
          </li>
          <li class="nav-item" (contextmenu)="__elementSelectionService.select('1079865970',$event)" [ngStyle]="__elementSelectionService.getStyles('1079865970')">
            <a routerLink="/bemutatkozas" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" id="navbarAboutMiddleMenuLink" (contextmenu)="__elementSelectionService.select('2125457890',$event)" [ngStyle]="__elementSelectionService.getStyles('2125457890')">
              Bemutatkoz&#225;s
            </a>
          </li>
          <li class="nav-item" (contextmenu)="__elementSelectionService.select('223868760',$event)" [ngStyle]="__elementSelectionService.getStyles('223868760')">
            <a routerLink="/kapcsolat" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" (contextmenu)="__elementSelectionService.select('1170078913',$event)" [ngStyle]="__elementSelectionService.getStyles('1170078913')">Kapcsolat</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div *ngIf="headerNarrowed" (contextmenu)="__elementSelectionService.select('452625929',$event)" [ngStyle]="__elementSelectionService.getStyles('452625929')"(click)='__elementSelectionService.clear()'>
  <nav class="headerNarrow navbar navbar-expand navbar-light shadow rounded" style (contextmenu)="__elementSelectionService.select('1859700966',$event)" [ngStyle]="__elementSelectionService.getStyles('1859700966')">
    <div class="collapse navbar-collapse" (contextmenu)="__elementSelectionService.select('1874451494',$event)" [ngStyle]="__elementSelectionService.getStyles('1874451494')">
      <div class="container dropdown" (contextmenu)="__elementSelectionService.select('1575361470',$event)" [ngStyle]="__elementSelectionService.getStyles('1575361470')">
          <a class="dropdown" data-toggle="dropdown" id="navbarNarrowDropdownMenuLink" (contextmenu)="__elementSelectionService.select('2006433591',$event)" [ngStyle]="__elementSelectionService.getStyles('2006433591')">
              <img class="photoIcon" src="../../favicon.ico" (contextmenu)="__elementSelectionService.select('1604376283',$event)" [ngStyle]="__elementSelectionService.getStyles('1604376283')">
          </a>
            <div class="dropdown-menu show" aria-labelledby="navbarNarrowDropdownMenuLink" (contextmenu)="__elementSelectionService.select('2128181733',$event)" [ngStyle]="__elementSelectionService.getStyles('2128181733')">
              <a class="dropdown-item" routerLink="/ingatlankepek" (contextmenu)="__elementSelectionService.select('328185451',$event)" [ngStyle]="__elementSelectionService.getStyles('328185451')">Ingatlanfot&#243;z&#225;s</a>
              <a class="dropdown-item" routerLink="/bemutatkozas" (contextmenu)="__elementSelectionService.select('1496042794',$event)" [ngStyle]="__elementSelectionService.getStyles('1496042794')">Bemutatkoz&#225;s</a>
              <a class="dropdown-item" routerLink="/" (contextmenu)="__elementSelectionService.select('14999258',$event)" [ngStyle]="__elementSelectionService.getStyles('14999258')">Kezd&#337;oldal</a>
              <a class="dropdown-item" routerLink="/kapcsolat" (contextmenu)="__elementSelectionService.select('902269298',$event)" [ngStyle]="__elementSelectionService.getStyles('902269298')">Kapcsolat</a>
            </div>
      </div>
    </div>
  </nav>
</div>
