<div *ngIf="headerOnTop" (contextmenu)="__elementSelectionService.select('349281712',$event)" [ngStyle]="__elementSelectionService.getStyles('349281712')"(click)='__elementSelectionService.clear()'>
<nav class="headerTop navbar navbar-expand-lg navbar-light shadow rounded" (contextmenu)="__elementSelectionService.select('600134976',$event)" [ngStyle]="__elementSelectionService.getStyles('600134976')">
  <div class="collapse navbar-collapse" (contextmenu)="__elementSelectionService.select('1850705590',$event)" [ngStyle]="__elementSelectionService.getStyles('1850705590')">
    <div class="container" (contextmenu)="__elementSelectionService.select('77972445',$event)" [ngStyle]="__elementSelectionService.getStyles('77972445')">
      <div class="nav-item active align-self-end col" id="mainPageImage" routerLinkActive="active" (contextmenu)="__elementSelectionService.select('2098641415',$event)" [ngStyle]="__elementSelectionService.getStyles('2098641415')">
      <span class="navbar-text circle" (contextmenu)="__elementSelectionService.select('1953537968',$event)" [ngStyle]="__elementSelectionService.getStyles('1953537968')">
      <img width="400" src="../../assets/tothegith/seged/IMG_6064.jpg" (contextmenu)="__elementSelectionService.select('1712901566',$event)" [ngStyle]="__elementSelectionService.getStyles('1712901566')">
      </span>
      </div>
      <ul class="navbar-nav container" (contextmenu)="__elementSelectionService.select('1275675019',$event)" [ngStyle]="__elementSelectionService.getStyles('1275675019')">
        <li class="nav-item" (contextmenu)="__elementSelectionService.select('75959439',$event)" [ngStyle]="__elementSelectionService.getStyles('75959439')">
          <a routerLink="/" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" (contextmenu)="__elementSelectionService.select('1954193072',$event)" [ngStyle]="__elementSelectionService.getStyles('1954193072')">Kezd&#313;&#8216;oldal</a>
        </li>
        <li class="nav-item dropdown dropright" id="navbarGalleryDropdownMainMenuLink" (contextmenu)="__elementSelectionService.select('1412421820',$event)" [ngStyle]="__elementSelectionService.getStyles('1412421820')">
          <a class="nav-link dropdown-toggle  dropdown-toggle-split" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (contextmenu)="__elementSelectionService.select('1378668203',$event)" [ngStyle]="__elementSelectionService.getStyles('1378668203')">
            Gall&#258;&#169;ria
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarGalleryDropdownMainMenuLink" (contextmenu)="__elementSelectionService.select('1861440277',$event)" [ngStyle]="__elementSelectionService.getStyles('1861440277')">
            <a class="dropdown-item" routerLink="/kepek/ingatlanok" (contextmenu)="__elementSelectionService.select('1323093861',$event)" [ngStyle]="__elementSelectionService.getStyles('1323093861')">Ingatlanfot&#258;&#322;z&#258;&#711;s</a>
            <a class="dropdown-item" routerLink="/kepek/ceges" (contextmenu)="__elementSelectionService.select('1679557690',$event)" [ngStyle]="__elementSelectionService.getStyles('1679557690')">C&#258;&#169;ges fotoz&#258;&#711;s</a>
            <div class="dropdown-divider" (contextmenu)="__elementSelectionService.select('1349638020',$event)" [ngStyle]="__elementSelectionService.getStyles('1349638020')"></div>
            <a class="dropdown-item" routerLink="/kepek/egyeb" (contextmenu)="__elementSelectionService.select('619601252',$event)" [ngStyle]="__elementSelectionService.getStyles('619601252')">Egy&#258;&#169;b t&#258;&#169;m&#258;&#711;k</a>
          </div>
        </li>
        <li class="nav-item" (contextmenu)="__elementSelectionService.select('207690107',$event)" [ngStyle]="__elementSelectionService.getStyles('207690107')">
          <a routerLink="/bemutatkozas" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" id="navbarAboutMainMenuLink" (contextmenu)="__elementSelectionService.select('140046617',$event)" [ngStyle]="__elementSelectionService.getStyles('140046617')">
            Bemutatkoz&#258;&#711;s
          </a>
        </li>
        <li class="nav-item" (contextmenu)="__elementSelectionService.select('1456196193',$event)" [ngStyle]="__elementSelectionService.getStyles('1456196193')">
          <a routerLink="/kapcsolat" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" (contextmenu)="__elementSelectionService.select('10008737',$event)" [ngStyle]="__elementSelectionService.getStyles('10008737')">Kapcsolat</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
</div>

<div *ngIf="headerScrolled" (contextmenu)="__elementSelectionService.select('165779137',$event)" [ngStyle]="__elementSelectionService.getStyles('165779137')"(click)='__elementSelectionService.clear()'>
  <nav class="headerScroll navbar navbar-expand-lg navbar-light shadow rounded sticky-top" (contextmenu)="__elementSelectionService.select('70701832',$event)" [ngStyle]="__elementSelectionService.getStyles('70701832')">
    <div class="collapse navbar-collapse" (contextmenu)="__elementSelectionService.select('1260993198',$event)" [ngStyle]="__elementSelectionService.getStyles('1260993198')">
      <div class="container" (contextmenu)="__elementSelectionService.select('1136228712',$event)" [ngStyle]="__elementSelectionService.getStyles('1136228712')">
        <ul class="navbar-nav container" (contextmenu)="__elementSelectionService.select('102861838',$event)" [ngStyle]="__elementSelectionService.getStyles('102861838')">
          <li class="nav-item" (contextmenu)="__elementSelectionService.select('876458321',$event)" [ngStyle]="__elementSelectionService.getStyles('876458321')">
            <a routerLink="/" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" (contextmenu)="__elementSelectionService.select('910364978',$event)" [ngStyle]="__elementSelectionService.getStyles('910364978')">Kezd&#313;&#8216;oldal</a>
          </li>
          <li class="nav-item" (contextmenu)="__elementSelectionService.select('1043946667',$event)" [ngStyle]="__elementSelectionService.getStyles('1043946667')">
            <a routerLink="/kepek" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" id="navbarGalleryMiddleMenuLink" (contextmenu)="__elementSelectionService.select('879945374',$event)" [ngStyle]="__elementSelectionService.getStyles('879945374')">
              Gall&#258;&#169;ria
            </a>
          </li>
          <li class="nav-item" (contextmenu)="__elementSelectionService.select('1838968440',$event)" [ngStyle]="__elementSelectionService.getStyles('1838968440')">
            <a routerLink="/bemutatkozas" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" id="navbarAboutMiddleMenuLink" (contextmenu)="__elementSelectionService.select('1131948152',$event)" [ngStyle]="__elementSelectionService.getStyles('1131948152')">
              Bemutatkoz&#258;&#711;s
            </a>
          </li>
          <li class="nav-item" (contextmenu)="__elementSelectionService.select('928053432',$event)" [ngStyle]="__elementSelectionService.getStyles('928053432')">
            <a routerLink="/kapcsolat" class="nav-link" aria-haspopup="true" aria-expanded="false" role="button" (contextmenu)="__elementSelectionService.select('347455194',$event)" [ngStyle]="__elementSelectionService.getStyles('347455194')">Kapcsolat</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div *ngIf="headerNarrowed" (contextmenu)="__elementSelectionService.select('1388568734',$event)" [ngStyle]="__elementSelectionService.getStyles('1388568734')"(click)='__elementSelectionService.clear()'>
  <nav class="headerNarrow navbar navbar-expand navbar-light shadow rounded" style (contextmenu)="__elementSelectionService.select('450166170',$event)" [ngStyle]="__elementSelectionService.getStyles('450166170')">
    <div class="collapse navbar-collapse" (contextmenu)="__elementSelectionService.select('409812304',$event)" [ngStyle]="__elementSelectionService.getStyles('409812304')">
      <div class="container dropdown" (contextmenu)="__elementSelectionService.select('684233693',$event)" [ngStyle]="__elementSelectionService.getStyles('684233693')">
          <a class="dropdown" data-toggle="dropdown" id="navbarNarrowDropdownMenuLink" (contextmenu)="__elementSelectionService.select('288537456',$event)" [ngStyle]="__elementSelectionService.getStyles('288537456')">
              <img class="photoIcon" src="../../favicon.ico" (contextmenu)="__elementSelectionService.select('741850337',$event)" [ngStyle]="__elementSelectionService.getStyles('741850337')">
          </a>
            <div class="dropdown-menu" aria-labelledby="navbarNarrowDropdownMenuLink" (contextmenu)="__elementSelectionService.select('1572967306',$event)" [ngStyle]="__elementSelectionService.getStyles('1572967306')">
              <a class="dropdown-item" routerLink="/kepek" (contextmenu)="__elementSelectionService.select('838575508',$event)" [ngStyle]="__elementSelectionService.getStyles('838575508')">Gall&#258;&#169;ria</a>
              <a class="dropdown-item" routerLink="/bemutatkozas" (contextmenu)="__elementSelectionService.select('890659296',$event)" [ngStyle]="__elementSelectionService.getStyles('890659296')">Bemutatkoz&#258;&#711;s</a>
              <a class="dropdown-item" routerLink="/" (contextmenu)="__elementSelectionService.select('618074903',$event)" [ngStyle]="__elementSelectionService.getStyles('618074903')">Kezd&#313;&#8216;oldal</a>
              <a class="dropdown-item" routerLink="/kapcsolat" (contextmenu)="__elementSelectionService.select('1968937412',$event)" [ngStyle]="__elementSelectionService.getStyles('1968937412')">Kapcsolat</a>
            </div>
      </div>
    </div>
  </nav>
</div>
