  
<h3 (contextmenu)="__elementSelectionService.select('1032123685',$event)" [ngStyle]="__elementSelectionService.getStyles('1032123685')"(click)='__elementSelectionService.clear()'>
  <div style="padding-top: 30px" (contextmenu)="__elementSelectionService.select('700558907',$event)" [ngStyle]="__elementSelectionService.getStyles('700558907')"></div>
</h3>

<div class="container" style="box-shadow: 0 .5rem 1rem 1rem rgba(0,0,0,.15); padding: 0px" (contextmenu)="__elementSelectionService.select('309433145',$event)" [ngStyle]="__elementSelectionService.getStyles('309433145')"(click)='__elementSelectionService.clear()'>
  <ngx-slick-carousel class="carousel" style #slickModal="slick-carousel" [config]="slideConfig" (contextmenu)="__elementSelectionService.select('1582348135',$event)" [ngStyle]="__elementSelectionService.getStyles('1582348135')">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide" autofocus (contextmenu)="__elementSelectionService.select('1745617645',$event)" [ngStyle]="__elementSelectionService.getStyles('1745617645')">
    <img src="{{ slide.img }}" alt width="100%" (load)="onImageLoad($event)" (contextmenu)="__elementSelectionService.select('1970527744',$event)" [ngStyle]="__elementSelectionService.getStyles('1970527744')">
  </div>
</ngx-slick-carousel>
</div>


<div style="margin: 70px 10% 30px 10%" (contextmenu)="__elementSelectionService.select('1664260750',$event)" [ngStyle]="__elementSelectionService.getStyles('1664260750')"(click)='__elementSelectionService.clear()'>
  <div (contextmenu)="__elementSelectionService.select('1365706467',$event)" [ngStyle]="__elementSelectionService.getStyles('1365706467')">
    <div (contextmenu)="__elementSelectionService.select('181889063',$event)" [ngStyle]="__elementSelectionService.getStyles('181889063')"></div>
    <div class="grid-container" (contextmenu)="__elementSelectionService.select('46405882',$event)" [ngStyle]="__elementSelectionService.getStyles('46405882')">
      <app-main (contextmenu)="__elementSelectionService.select('1764509052',$event)" [ngStyle]="__elementSelectionService.getStyles('1764509052')"></app-main>
    </div>
  </div>
</div>

