<h3 (contextmenu)="__elementSelectionService.select('1653356836',$event)" [ngStyle]="__elementSelectionService.getStyles('1653356836')"(click)='__elementSelectionService.clear()'>
  <div style="padding-top: 30px;border-bottom: 1px;" (contextmenu)="__elementSelectionService.select('241108029',$event)" [ngStyle]="__elementSelectionService.getStyles('241108029')"></div>
</h3>

<div class="container" style="box-shadow: 0 .5rem 1rem 1rem rgba(0,0,0,.15); padding: 0px" (contextmenu)="__elementSelectionService.select('673468732',$event)" [ngStyle]="__elementSelectionService.getStyles('673468732')"(click)='__elementSelectionService.clear()'>
  <ngx-slick-carousel class="carousel" style #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)" (contextmenu)="__elementSelectionService.select('564493325',$event)" [ngStyle]="__elementSelectionService.getStyles('564493325')">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide" (contextmenu)="__elementSelectionService.select('1016403038',$event)" [ngStyle]="__elementSelectionService.getStyles('1016403038')">
    <img src="{{ slide.img }}" alt width="100%" (contextmenu)="__elementSelectionService.select('323940645',$event)" [ngStyle]="__elementSelectionService.getStyles('323940645')">
  </div>
</ngx-slick-carousel>
</div>

<div style="margin: 70px 10% 30px 10%" (contextmenu)="__elementSelectionService.select('930284743',$event)" [ngStyle]="__elementSelectionService.getStyles('930284743')"(click)='__elementSelectionService.clear()'>
  <div (contextmenu)="__elementSelectionService.select('1699111325',$event)" [ngStyle]="__elementSelectionService.getStyles('1699111325')">
    <div style="border-bottom-style: solid" (contextmenu)="__elementSelectionService.select('1862876204',$event)" [ngStyle]="__elementSelectionService.getStyles('1862876204')"></div>
    <div class="grid-container" (contextmenu)="__elementSelectionService.select('2066408055',$event)" [ngStyle]="__elementSelectionService.getStyles('2066408055')">
      <app-main (contextmenu)="__elementSelectionService.select('529134574',$event)" [ngStyle]="__elementSelectionService.getStyles('529134574')"></app-main>
    </div>
  </div>
</div>

