  
<h3 (contextmenu)="__elementSelectionService.select('1662114003',$event)" [ngStyle]="__elementSelectionService.getStyles('1662114003')"(click)='__elementSelectionService.clear()'>
  <div style="padding-top: 30px" (contextmenu)="__elementSelectionService.select('1534733238',$event)" [ngStyle]="__elementSelectionService.getStyles('1534733238')"></div>
</h3>

<div class="container" style="box-shadow: 0 .5rem 1rem 1rem rgba(0,0,0,.15); padding: 0px" (contextmenu)="__elementSelectionService.select('44939169',$event)" [ngStyle]="__elementSelectionService.getStyles('44939169')"(click)='__elementSelectionService.clear()'>
  <ngx-slick-carousel class="carousel" style #slickModal="slick-carousel" [config]="slideConfig" (contextmenu)="__elementSelectionService.select('986622702',$event)" [ngStyle]="__elementSelectionService.getStyles('986622702')">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide" autofocus (contextmenu)="__elementSelectionService.select('1099461047',$event)" [ngStyle]="__elementSelectionService.getStyles('1099461047')">
    <img src="{{ slide.img }}" alt width="100%" (load)="onImageLoad($event)" (contextmenu)="__elementSelectionService.select('683113508',$event)" [ngStyle]="__elementSelectionService.getStyles('683113508')">
  </div>
</ngx-slick-carousel>
</div>


<div style="margin: 70px 10% 30px 10%" (contextmenu)="__elementSelectionService.select('288235368',$event)" [ngStyle]="__elementSelectionService.getStyles('288235368')"(click)='__elementSelectionService.clear()'>
  <div (contextmenu)="__elementSelectionService.select('572183839',$event)" [ngStyle]="__elementSelectionService.getStyles('572183839')">
    <div (contextmenu)="__elementSelectionService.select('1842123368',$event)" [ngStyle]="__elementSelectionService.getStyles('1842123368')"></div>
    <div class="grid-container" (contextmenu)="__elementSelectionService.select('1875596207',$event)" [ngStyle]="__elementSelectionService.getStyles('1875596207')">
      <app-main (contextmenu)="__elementSelectionService.select('2089702446',$event)" [ngStyle]="__elementSelectionService.getStyles('2089702446')"></app-main>
    </div>
  </div>
</div>

