
.bg-img{
  position: relative;
  overflow: hidden;
}

.bg-img #main-bg{
  /*background-image: url("../../assets/images/seged/hatter.jpg");*/
  /*background-repeat: repeat;*/
  position: absolute;
  /*background-repeat: repeat-y;*/
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0.13;
}

.bg-img #secondary-bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0.13;
}


.styledTitle {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 10px 0px 10px 0px
}

/*.styledTitle div {*/
  /*padding-top: 30px;*/
  /*border-bottom: 1px solid #000;*/

/*}*/

.styledDoubleLines {
  margin: 20px 10% 30px 10%;
  border-top-style: solid;
}
