.gallery img:hover {
  opacity: 0.4;
  background-color: #dfe0e1;
  box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.15);
}

.gallery img {
  transition: 1.3s;
  transition-delay: .1s;

}


.modal-dialog {
  /*margin: 20px !important;*/
  /*position: fixed; !*no scroll*!*/
  max-width: 1200px !important;

}

.w-100 {
  /*width: 1200px !important;*/
}

.carousel-inner {
  /*overflow: auto !important;*/
}
