<div class="bg-img">
  <img src="../../assets/tothegith/seged/IMG_4569.jpg">
  <div class="styledDoubleLines">
    <div>
        <h3 class="styledTitle">
          <div></div>
        </h3>
        <div class="contact"><br>
          <h5>Az alábbi elérhetőségeimen várom szíves megkeresését:</h5>
          <p>
            <br>
            <br>
            Email: molnar.gabor.richard@gmail.com
            <br>
            Mobil: 06-30-781-9414
            <br>
            <br>
            <a href="https://www.facebook.com/Moln%C3%A1r-Ingatlanfot%C3%B3z%C3%A1s-288799308480175/"  class="fa fa-facebook-square"> </a>
            <br>
            <br>
            Molnár Gábor
            <br>
            Ingatlanfényképész és ingatlanközvetítő
          </p>
      </div>
    </div>
  </div>
</div>
