<div class="bg-img">
  <img src="../../assets/tothegith/contact_bejarat.jpg">
  <div class="styledDoubleLines">
    <div>
        <h3 class="styledTitle">
          <div></div>
        </h3>
        <div class="contact"><br>
          <h4><u>Elérhetőségeim: </u></h4>
          <p>
            <br>
            <br>
            Email: ....@gmail.com
            <br>
            Mobil: 06-20-123-45-67
            <br>
            <br>
            <a class="btn btn-social btn-facebook" href="http://www.facebook.com/***">
              <span class="fa fa-facebook"></span>
            </a>
            <a class="btn btn-social btn-instagram">
              <span class="fa fa-instagram"></span>
            </a>
            <br>
            <br>
            Molnár Gábor
            <br>
            Ingatlanfényképész és ingatlanközvetítő
          </p>



<!--<div class="container">-->

      <!--</div>-->
      </div>
    </div>
  </div>
</div>
