<div class="styledDoubleLines" (contextmenu)="__elementSelectionService.select('60274594',$event)" [ngStyle]="__elementSelectionService.getStyles('60274594')"(click)='__elementSelectionService.clear()'>
  <div (contextmenu)="__elementSelectionService.select('879948825',$event)" [ngStyle]="__elementSelectionService.getStyles('879948825')">
    <div class="grid-container" (contextmenu)="__elementSelectionService.select('182874002',$event)" [ngStyle]="__elementSelectionService.getStyles('182874002')">
      <h3 class="styledTitle" (contextmenu)="__elementSelectionService.select('2048342693',$event)" [ngStyle]="__elementSelectionService.getStyles('2048342693')">Gall&#233;ria
        <div (contextmenu)="__elementSelectionService.select('2231378',$event)" [ngStyle]="__elementSelectionService.getStyles('2231378')"></div>
      </h3>
      <div class="col" (contextmenu)="__elementSelectionService.select('601088627',$event)" [ngStyle]="__elementSelectionService.getStyles('601088627')">
        <a routerLink="/kepek/ingatlanok" (contextmenu)="__elementSelectionService.select('443581284',$event)" [ngStyle]="__elementSelectionService.getStyles('443581284')">
          Ingatlanfot&#243;z&#225;s
          <img src="../../assets/tothegith/seged/ingatlanok.jpg" (contextmenu)="__elementSelectionService.select('1508987037',$event)" [ngStyle]="__elementSelectionService.getStyles('1508987037')">
        </a>
      </div>
      <div class="col-sm" (contextmenu)="__elementSelectionService.select('1235322733',$event)" [ngStyle]="__elementSelectionService.getStyles('1235322733')">
        <a routerLink="/kepek/ceges" (contextmenu)="__elementSelectionService.select('1977431120',$event)" [ngStyle]="__elementSelectionService.getStyles('1977431120')">
          C&#233;ges fot&#243;z&#225;s
          <img src="../../assets/tothegith/seged/work_cover1080x675.jpg" (contextmenu)="__elementSelectionService.select('1797841452',$event)" [ngStyle]="__elementSelectionService.getStyles('1797841452')">
        </a>


        <a routerLink="/kepek/egyeb" (contextmenu)="__elementSelectionService.select('948839020',$event)" [ngStyle]="__elementSelectionService.getStyles('948839020')">
          Egy&#233;b k&#233;pek
          <img src="../../assets/tothegith/seged/wedding-290.jpg" (contextmenu)="__elementSelectionService.select('2102477055',$event)" [ngStyle]="__elementSelectionService.getStyles('2102477055')">
        </a>
      </div>
    </div>
  </div>
</div>

