<div class="styledDoubleLines" (contextmenu)="__elementSelectionService.select('1367248345',$event)" [ngStyle]="__elementSelectionService.getStyles('1367248345')"(click)='__elementSelectionService.clear()'>
  <div (contextmenu)="__elementSelectionService.select('1343848284',$event)" [ngStyle]="__elementSelectionService.getStyles('1343848284')">
    <div class="grid-container" (contextmenu)="__elementSelectionService.select('1974218947',$event)" [ngStyle]="__elementSelectionService.getStyles('1974218947')">
      <h3 class="styledTitle" (contextmenu)="__elementSelectionService.select('341033435',$event)" [ngStyle]="__elementSelectionService.getStyles('341033435')">Gall&#233;ria
        <div (contextmenu)="__elementSelectionService.select('223974818',$event)" [ngStyle]="__elementSelectionService.getStyles('223974818')"></div>
      </h3>
      <div class="col" (contextmenu)="__elementSelectionService.select('379709642',$event)" [ngStyle]="__elementSelectionService.getStyles('379709642')">
        <a routerLink="/kepek/ingatlanok" (contextmenu)="__elementSelectionService.select('44034293',$event)" [ngStyle]="__elementSelectionService.getStyles('44034293')">
          Ingatlanfot&#243;z&#225;s
          <img src="../../assets/tothegith/seged/ingatlanok.jpg" (contextmenu)="__elementSelectionService.select('138980452',$event)" [ngStyle]="__elementSelectionService.getStyles('138980452')">
        </a>
      </div>
      <div class="col-sm" (contextmenu)="__elementSelectionService.select('1232981066',$event)" [ngStyle]="__elementSelectionService.getStyles('1232981066')">
        <a routerLink="/kepek/ceges" (contextmenu)="__elementSelectionService.select('1350801943',$event)" [ngStyle]="__elementSelectionService.getStyles('1350801943')">
          C&#233;ges fot&#243;z&#225;s
          <img src="../../assets/tothegith/seged/work_cover1080x675.jpg" (contextmenu)="__elementSelectionService.select('765855922',$event)" [ngStyle]="__elementSelectionService.getStyles('765855922')">
        </a>


        <a routerLink="/kepek/egyeb" (contextmenu)="__elementSelectionService.select('1614854894',$event)" [ngStyle]="__elementSelectionService.getStyles('1614854894')">
          Egy&#233;b k&#233;pek
          <img src="../../assets/tothegith/seged/wedding-290.jpg" (contextmenu)="__elementSelectionService.select('1207448880',$event)" [ngStyle]="__elementSelectionService.getStyles('1207448880')">
        </a>
      </div>
    </div>
  </div>
</div>

