<div class="styledDoubleLines" (contextmenu)="__elementSelectionService.select('2147156359',$event)" [ngStyle]="__elementSelectionService.getStyles('2147156359')"(click)='__elementSelectionService.clear()'>
  <div (contextmenu)="__elementSelectionService.select('1210787634',$event)" [ngStyle]="__elementSelectionService.getStyles('1210787634')">
    <div class="grid-container" (contextmenu)="__elementSelectionService.select('1878782089',$event)" [ngStyle]="__elementSelectionService.getStyles('1878782089')">
      <h3 class="styledTitle" (contextmenu)="__elementSelectionService.select('156470643',$event)" [ngStyle]="__elementSelectionService.getStyles('156470643')">Gall&#233;ria
        <div (contextmenu)="__elementSelectionService.select('366500274',$event)" [ngStyle]="__elementSelectionService.getStyles('366500274')"></div>
      </h3>
      <div class="col" (contextmenu)="__elementSelectionService.select('73133708',$event)" [ngStyle]="__elementSelectionService.getStyles('73133708')">
        <a routerLink="/kepek/ingatlanok" (contextmenu)="__elementSelectionService.select('873736502',$event)" [ngStyle]="__elementSelectionService.getStyles('873736502')">
          Ingatlanfot&#243;z&#225;s
          <img src="../../assets/tothegith/seged/ingatlanok.jpg" (contextmenu)="__elementSelectionService.select('557384402',$event)" [ngStyle]="__elementSelectionService.getStyles('557384402')">
        </a>
      </div>
      <div class="col-sm" (contextmenu)="__elementSelectionService.select('1987828366',$event)" [ngStyle]="__elementSelectionService.getStyles('1987828366')">
        <a routerLink="/kepek/ceges" (contextmenu)="__elementSelectionService.select('764376387',$event)" [ngStyle]="__elementSelectionService.getStyles('764376387')">
          C&#233;ges fot&#243;z&#225;s
          <img src="../../assets/tothegith/seged/work_cover1080x675.jpg" (contextmenu)="__elementSelectionService.select('944219229',$event)" [ngStyle]="__elementSelectionService.getStyles('944219229')">
        </a>


        <a routerLink="/kepek/egyeb" (contextmenu)="__elementSelectionService.select('1367416341',$event)" [ngStyle]="__elementSelectionService.getStyles('1367416341')">
          Egy&#233;b k&#233;pek
          <img src="../../assets/tothegith/seged/wedding-290.jpg" (contextmenu)="__elementSelectionService.select('2038825217',$event)" [ngStyle]="__elementSelectionService.getStyles('2038825217')">
        </a>
      </div>
    </div>
  </div>
</div>

