<div class="tipus" (contextmenu)="__elementSelectionService.select('778793233',$event)" [ngStyle]="__elementSelectionService.getStyles('778793233')"(click)='__elementSelectionService.clear()'>
  <div style="padding-bottom: 7px;" (contextmenu)="__elementSelectionService.select('1372983534',$event)" [ngStyle]="__elementSelectionService.getStyles('1372983534')"></div>
  <div style="font-style: italic; opacity: 0.4; font-size: larger;  padding: 7px; text-align: center" (contextmenu)="__elementSelectionService.select('10712908',$event)" [ngStyle]="__elementSelectionService.getStyles('10712908')">Egy&#233;b fot&#243;z&#225;son k&#233;sz&#252;lt k&#233;pek</div>
  <div (contextmenu)="__elementSelectionService.select('551238882',$event)" [ngStyle]="__elementSelectionService.getStyles('551238882')"></div>
</div>
<div class="grid-container" (contextmenu)="__elementSelectionService.select('120242641',$event)" [ngStyle]="__elementSelectionService.getStyles('120242641')"(click)='__elementSelectionService.clear()'>
  <app-egyeb-kepek (contextmenu)="__elementSelectionService.select('1160635168',$event)" [ngStyle]="__elementSelectionService.getStyles('1160635168')"></app-egyeb-kepek>
</div>
