<div class="tipus" (contextmenu)="__elementSelectionService.select('87027947',$event)" [ngStyle]="__elementSelectionService.getStyles('87027947')"(click)='__elementSelectionService.clear()'>
  <div style="padding-bottom: 7px;" (contextmenu)="__elementSelectionService.select('800596916',$event)" [ngStyle]="__elementSelectionService.getStyles('800596916')"></div>
  <div style="font-style: italic; opacity: 0.4; font-size: larger;  padding: 7px; text-align: center" (contextmenu)="__elementSelectionService.select('1184688536',$event)" [ngStyle]="__elementSelectionService.getStyles('1184688536')">Egy&#233;b fot&#243;z&#225;son k&#233;sz&#252;lt k&#233;pek</div>
  <div (contextmenu)="__elementSelectionService.select('1073209430',$event)" [ngStyle]="__elementSelectionService.getStyles('1073209430')"></div>
</div>
<div class="grid-container" (contextmenu)="__elementSelectionService.select('932956889',$event)" [ngStyle]="__elementSelectionService.getStyles('932956889')"(click)='__elementSelectionService.clear()'>
  <app-egyeb-kepek (contextmenu)="__elementSelectionService.select('747113906',$event)" [ngStyle]="__elementSelectionService.getStyles('747113906')"></app-egyeb-kepek>
</div>
