<div class="tipus" (contextmenu)="__elementSelectionService.select('2074077082',$event)" [ngStyle]="__elementSelectionService.getStyles('2074077082')"(click)='__elementSelectionService.clear()'>
  <div style="border-bottom: 1px solid #eeeeee;padding-bottom: 7px;" (contextmenu)="__elementSelectionService.select('866504091',$event)" [ngStyle]="__elementSelectionService.getStyles('866504091')"></div>
  <div style="font-style: italic; opacity: 0.4; font-size: larger;  padding: 7px; text-align: center" (contextmenu)="__elementSelectionService.select('1843028716',$event)" [ngStyle]="__elementSelectionService.getStyles('1843028716')">Egy&#258;&#169;b fot&#258;&#322;z&#258;&#711;son k&#258;&#169;sz&#258;&#317;lt k&#258;&#169;pek</div>
  <div style="border-bottom: 1px solid #eeeeee;" (contextmenu)="__elementSelectionService.select('121067079',$event)" [ngStyle]="__elementSelectionService.getStyles('121067079')"></div>
</div>
<div class="grid-container" (contextmenu)="__elementSelectionService.select('1411469323',$event)" [ngStyle]="__elementSelectionService.getStyles('1411469323')"(click)='__elementSelectionService.clear()'>
  <app-egyeb-kepek (contextmenu)="__elementSelectionService.select('1427637889',$event)" [ngStyle]="__elementSelectionService.getStyles('1427637889')"></app-egyeb-kepek>
</div>
