<div class="bg-img" (contextmenu)="__elementSelectionService.select('1296341529',$event)" [ngStyle]="__elementSelectionService.getStyles('1296341529')"(click)='__elementSelectionService.clear()'>
  <img src="../../assets/tothegith/seged/IMG_4569.jpg" (contextmenu)="__elementSelectionService.select('1747812733',$event)" [ngStyle]="__elementSelectionService.getStyles('1747812733')">
  <div class="styledDoubleLines" (contextmenu)="__elementSelectionService.select('30427699',$event)" [ngStyle]="__elementSelectionService.getStyles('30427699')">
    <div (contextmenu)="__elementSelectionService.select('195667253',$event)" [ngStyle]="__elementSelectionService.getStyles('195667253')">
        <h3 class="styledTitle" (contextmenu)="__elementSelectionService.select('467570500',$event)" [ngStyle]="__elementSelectionService.getStyles('467570500')">
          <div (contextmenu)="__elementSelectionService.select('536662827',$event)" [ngStyle]="__elementSelectionService.getStyles('536662827')"></div>
        </h3>
        <div class="contact" (contextmenu)="__elementSelectionService.select('486445877',$event)" [ngStyle]="__elementSelectionService.getStyles('486445877')"><br (contextmenu)="__elementSelectionService.select('1522015634',$event)" [ngStyle]="__elementSelectionService.getStyles('1522015634')">
          <h4 (contextmenu)="__elementSelectionService.select('896732462',$event)" [ngStyle]="__elementSelectionService.getStyles('896732462')"><u (contextmenu)="__elementSelectionService.select('1282405664',$event)" [ngStyle]="__elementSelectionService.getStyles('1282405664')">Az al&#225;bbi el&#233;rhet&#337;s&#233;geimen v&#225;rom sz&#237;ves megkeres&#233;s&#233;t:</u></h4>
          <p (contextmenu)="__elementSelectionService.select('618705059',$event)" [ngStyle]="__elementSelectionService.getStyles('618705059')">
            <br (contextmenu)="__elementSelectionService.select('1051618592',$event)" [ngStyle]="__elementSelectionService.getStyles('1051618592')">
            <br (contextmenu)="__elementSelectionService.select('328797606',$event)" [ngStyle]="__elementSelectionService.getStyles('328797606')">
            Email: molnar.gabor.richard@gmail.com
            <br (contextmenu)="__elementSelectionService.select('552352768',$event)" [ngStyle]="__elementSelectionService.getStyles('552352768')">
            Mobil: 06-30-781-9414
            <br (contextmenu)="__elementSelectionService.select('27845910',$event)" [ngStyle]="__elementSelectionService.getStyles('27845910')">
            <br (contextmenu)="__elementSelectionService.select('1277321070',$event)" [ngStyle]="__elementSelectionService.getStyles('1277321070')">
            <a href="https://www.facebook.com/Moln%C3%A1r-Ingatlanfot%C3%B3z%C3%A1s-288799308480175/" class="fa fa-facebook-square" (contextmenu)="__elementSelectionService.select('386764657',$event)" [ngStyle]="__elementSelectionService.getStyles('386764657')"> </a>
            <br (contextmenu)="__elementSelectionService.select('1455472044',$event)" [ngStyle]="__elementSelectionService.getStyles('1455472044')">
            <br (contextmenu)="__elementSelectionService.select('277246519',$event)" [ngStyle]="__elementSelectionService.getStyles('277246519')">
            Moln&#225;r G&#225;bor
            <br (contextmenu)="__elementSelectionService.select('1317111398',$event)" [ngStyle]="__elementSelectionService.getStyles('1317111398')">
            Ingatlanf&#233;nyk&#233;p&#233;sz &#233;s ingatlank&#246;zvet&#237;t&#337;
          </p>
      </div>
    </div>
  </div>
</div>
