<div class="bg-img" (contextmenu)="__elementSelectionService.select('407073399',$event)" [ngStyle]="__elementSelectionService.getStyles('407073399')"(click)='__elementSelectionService.clear()'>
  <img src="../../assets/tothegith/seged/IMG_4569.jpg" (contextmenu)="__elementSelectionService.select('1790439974',$event)" [ngStyle]="__elementSelectionService.getStyles('1790439974')">
  <div class="styledDoubleLines" (contextmenu)="__elementSelectionService.select('1776608717',$event)" [ngStyle]="__elementSelectionService.getStyles('1776608717')">
    <div (contextmenu)="__elementSelectionService.select('1411307',$event)" [ngStyle]="__elementSelectionService.getStyles('1411307')">
        <h3 class="styledTitle" (contextmenu)="__elementSelectionService.select('630055551',$event)" [ngStyle]="__elementSelectionService.getStyles('630055551')">
          <div (contextmenu)="__elementSelectionService.select('1887306282',$event)" [ngStyle]="__elementSelectionService.getStyles('1887306282')"></div>
        </h3>
        <div class="contact" (contextmenu)="__elementSelectionService.select('1048206181',$event)" [ngStyle]="__elementSelectionService.getStyles('1048206181')"><br (contextmenu)="__elementSelectionService.select('310697617',$event)" [ngStyle]="__elementSelectionService.getStyles('310697617')">
          <h5 (contextmenu)="__elementSelectionService.select('1481656484',$event)" [ngStyle]="__elementSelectionService.getStyles('1481656484')">Az al&#225;bbi el&#233;rhet&#337;s&#233;geimen v&#225;rom sz&#237;ves megkeres&#233;s&#233;t:</h5>
          <p (contextmenu)="__elementSelectionService.select('1480552150',$event)" [ngStyle]="__elementSelectionService.getStyles('1480552150')">
            <br (contextmenu)="__elementSelectionService.select('879929287',$event)" [ngStyle]="__elementSelectionService.getStyles('879929287')">
            <br (contextmenu)="__elementSelectionService.select('11962254',$event)" [ngStyle]="__elementSelectionService.getStyles('11962254')">
            Email: molnar.gabor.richard@gmail.com
            <br (contextmenu)="__elementSelectionService.select('1526327892',$event)" [ngStyle]="__elementSelectionService.getStyles('1526327892')">
            Mobil: 06-30-781-9414
            <br (contextmenu)="__elementSelectionService.select('2039703043',$event)" [ngStyle]="__elementSelectionService.getStyles('2039703043')">
            <br (contextmenu)="__elementSelectionService.select('1484696169',$event)" [ngStyle]="__elementSelectionService.getStyles('1484696169')">
            <a href="https://www.facebook.com/Moln%C3%A1r-Ingatlanfot%C3%B3z%C3%A1s-288799308480175/" class="fa fa-facebook-square" (contextmenu)="__elementSelectionService.select('1824578591',$event)" [ngStyle]="__elementSelectionService.getStyles('1824578591')"> </a>
            <br (contextmenu)="__elementSelectionService.select('2038313113',$event)" [ngStyle]="__elementSelectionService.getStyles('2038313113')">
            <br (contextmenu)="__elementSelectionService.select('465560267',$event)" [ngStyle]="__elementSelectionService.getStyles('465560267')">
            Moln&#225;r G&#225;bor
            <br (contextmenu)="__elementSelectionService.select('910110263',$event)" [ngStyle]="__elementSelectionService.getStyles('910110263')">
            Ingatlanf&#233;nyk&#233;p&#233;sz &#233;s ingatlank&#246;zvet&#237;t&#337;
          </p>
      </div>
    </div>
  </div>
</div>
