<div class="bg-img" (contextmenu)="__elementSelectionService.select('1206491464',$event)" [ngStyle]="__elementSelectionService.getStyles('1206491464')"(click)='__elementSelectionService.clear()'>
  <img src="../../assets/tothegith/seged/IMG_4569.jpg" (contextmenu)="__elementSelectionService.select('66255703',$event)" [ngStyle]="__elementSelectionService.getStyles('66255703')">
  <div class="styledDoubleLines" (contextmenu)="__elementSelectionService.select('140116408',$event)" [ngStyle]="__elementSelectionService.getStyles('140116408')">
    <div (contextmenu)="__elementSelectionService.select('30831645',$event)" [ngStyle]="__elementSelectionService.getStyles('30831645')">
        <h3 class="styledTitle" (contextmenu)="__elementSelectionService.select('1328530975',$event)" [ngStyle]="__elementSelectionService.getStyles('1328530975')">
          <div (contextmenu)="__elementSelectionService.select('1536406766',$event)" [ngStyle]="__elementSelectionService.getStyles('1536406766')"></div>
        </h3>
        <div class="contact" (contextmenu)="__elementSelectionService.select('60565989',$event)" [ngStyle]="__elementSelectionService.getStyles('60565989')"><br (contextmenu)="__elementSelectionService.select('836289303',$event)" [ngStyle]="__elementSelectionService.getStyles('836289303')">
          <h4 (contextmenu)="__elementSelectionService.select('7791629',$event)" [ngStyle]="__elementSelectionService.getStyles('7791629')"><u (contextmenu)="__elementSelectionService.select('1183056937',$event)" [ngStyle]="__elementSelectionService.getStyles('1183056937')">Az al&#258;&#711;bbi el&#258;&#169;rhet&#313;&#8216;s&#258;&#169;geimen v&#258;&#711;rom sz&#258;&#173;ves megkeres&#258;&#169;s&#258;&#169;t:</u></h4>
          <p (contextmenu)="__elementSelectionService.select('615898653',$event)" [ngStyle]="__elementSelectionService.getStyles('615898653')">
            <br (contextmenu)="__elementSelectionService.select('1401057767',$event)" [ngStyle]="__elementSelectionService.getStyles('1401057767')">
            <br (contextmenu)="__elementSelectionService.select('1692639510',$event)" [ngStyle]="__elementSelectionService.getStyles('1692639510')">
            Email: molnar.gabor.richard@gmail.com
            <br (contextmenu)="__elementSelectionService.select('35669231',$event)" [ngStyle]="__elementSelectionService.getStyles('35669231')">
            Mobil: 06-30-781-9414
            <br (contextmenu)="__elementSelectionService.select('141506432',$event)" [ngStyle]="__elementSelectionService.getStyles('141506432')">
            <br (contextmenu)="__elementSelectionService.select('1210216995',$event)" [ngStyle]="__elementSelectionService.getStyles('1210216995')">
            <a href="https://www.facebook.com/Moln%C3%A1r-Ingatlanfot%C3%B3z%C3%A1s-288799308480175/" class="fa fa-facebook-square" (contextmenu)="__elementSelectionService.select('833650976',$event)" [ngStyle]="__elementSelectionService.getStyles('833650976')"> </a>
            <br (contextmenu)="__elementSelectionService.select('834124997',$event)" [ngStyle]="__elementSelectionService.getStyles('834124997')">
            <br (contextmenu)="__elementSelectionService.select('1075142212',$event)" [ngStyle]="__elementSelectionService.getStyles('1075142212')">
            Moln&#258;&#711;r G&#258;&#711;bor
            <br (contextmenu)="__elementSelectionService.select('469602063',$event)" [ngStyle]="__elementSelectionService.getStyles('469602063')">
            Ingatlanf&#258;&#169;nyk&#258;&#169;p&#258;&#169;sz &#258;&#169;s ingatlank&#258;&#182;zvet&#258;&#173;t&#313;&#8216;
          </p>
      </div>
    </div>
  </div>
</div>
