grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
}

@media only screen and (max-width: 575px) {
  h3 {
    margin-top: 5px;
  }
}
@media only screen and (min-width: 576px) {
  h3 {
    margin: 10px 0px 25px 0px;
  }
}
/* .slick-prev:before, .slick-next:before { */
/*     font-family: "Glyphicons Halflings", "slick", sans-serif; */
/*     font-size: 40px; */
/* } */

/* .slick-prev:before { content: "\e257"; } */
/* .slick-next:before { content: "\e258"; } */

