<div class="container" (contextmenu)="__elementSelectionService.select('507870551',$event)" [ngStyle]="__elementSelectionService.getStyles('507870551')"(click)='__elementSelectionService.clear()'>
  <div class="row gallery" (contextmenu)="__elementSelectionService.select('744437102',$event)" [ngStyle]="__elementSelectionService.getStyles('744437102')">
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let slide of kepek; let i = index" data-toggle="modal" data-target="#modalKepek" (contextmenu)="__elementSelectionService.select('1040615011',$event)" [ngStyle]="__elementSelectionService.getStyles('1040615011')">
      <a href="#lightbox" attr.data-slide-to="{{i}}" (contextmenu)="__elementSelectionService.select('1247868499',$event)" [ngStyle]="__elementSelectionService.getStyles('1247868499')">
        <img class="img-thumbnail my-3" [ngStyle]="{'display': flag ? 'block' : 'none'}" [src]="slide.img" class="img-thumbnail my-3" (load)="onImageLoad($event)" (contextmenu)="__elementSelectionService.select('1067919678',$event)" [ngStyle]="__elementSelectionService.getStyles('1067919678')"></a>
    </div>
  </div>
</div>


<div class="modal fade" id="modalKepek" tabindex="-1" role="dialog" (contextmenu)="__elementSelectionService.select('578477317',$event)" [ngStyle]="__elementSelectionService.getStyles('578477317')"(click)='__elementSelectionService.clear()'>
  <div class="modal-dialog modal-dialog-centered" role="document" (contextmenu)="__elementSelectionService.select('1778819041',$event)" [ngStyle]="__elementSelectionService.getStyles('1778819041')">
    <div class="modal-content" (contextmenu)="__elementSelectionService.select('1622751580',$event)" [ngStyle]="__elementSelectionService.getStyles('1622751580')">
      <div class="modal-body" (contextmenu)="__elementSelectionService.select('757504374',$event)" [ngStyle]="__elementSelectionService.getStyles('757504374')">
        <div id="lightbox" class="carousel slide" data-ride="carousel" data-interval="5000" data-keyboard="true" (contextmenu)="__elementSelectionService.select('734968629',$event)" [ngStyle]="__elementSelectionService.getStyles('734968629')">
          <div class="carousel-inner" (contextmenu)="__elementSelectionService.select('1969864762',$event)" [ngStyle]="__elementSelectionService.getStyles('1969864762')">
            <div *ngFor="let slide of kepek; let i = index" [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'" (contextmenu)="__elementSelectionService.select('1546875922',$event)" [ngStyle]="__elementSelectionService.getStyles('1546875922')">
              <img [src]="slide.img" class="w-100" alt (contextmenu)="__elementSelectionService.select('1162324939',$event)" [ngStyle]="__elementSelectionService.getStyles('1162324939')">
            </div>
          </div>
          <a class="carousel-control-prev" href="#lightbox" role="button" data-slide="prev" (contextmenu)="__elementSelectionService.select('462333765',$event)" [ngStyle]="__elementSelectionService.getStyles('462333765')"><span class="carousel-control-prev-icon" aria-hidden="true" (contextmenu)="__elementSelectionService.select('543018014',$event)" [ngStyle]="__elementSelectionService.getStyles('543018014')"></span><span class="sr-only" (contextmenu)="__elementSelectionService.select('1737080803',$event)" [ngStyle]="__elementSelectionService.getStyles('1737080803')">Previous</span></a>
          <a class="carousel-control-next" href="#lightbox" role="button" data-slide="next" (contextmenu)="__elementSelectionService.select('535320874',$event)" [ngStyle]="__elementSelectionService.getStyles('535320874')"><span class="carousel-control-next-icon" aria-hidden="true" (contextmenu)="__elementSelectionService.select('1907515677',$event)" [ngStyle]="__elementSelectionService.getStyles('1907515677')"></span><span class="sr-only" (contextmenu)="__elementSelectionService.select('1061256713',$event)" [ngStyle]="__elementSelectionService.getStyles('1061256713')">Next</span></a>
        </div>
      </div>
    </div>
  </div>
</div>