<div class="container" (contextmenu)="__elementSelectionService.select('326073788',$event)" [ngStyle]="__elementSelectionService.getStyles('326073788')"(click)='__elementSelectionService.clear()'>
  <div class="row gallery" (contextmenu)="__elementSelectionService.select('801566771',$event)" [ngStyle]="__elementSelectionService.getStyles('801566771')">
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let slide of kepek; let i = index" data-toggle="modal" data-target="#modalKepek" (contextmenu)="__elementSelectionService.select('13512352',$event)" [ngStyle]="__elementSelectionService.getStyles('13512352')">
      <a href="#lightbox" attr.data-slide-to="{{i}}" (contextmenu)="__elementSelectionService.select('394060358',$event)" [ngStyle]="__elementSelectionService.getStyles('394060358')">
        <img class="img-thumbnail my-3" [ngStyle]="{'display': flag ? 'block' : 'none'}" [src]="slide.img" class="img-thumbnail my-3" (load)="onImageLoad($event)" (contextmenu)="__elementSelectionService.select('1346363740',$event)" [ngStyle]="__elementSelectionService.getStyles('1346363740')"></a>
    </div>
  </div>
</div>


<div class="modal fade" id="modalKepek" tabindex="-1" role="dialog" (contextmenu)="__elementSelectionService.select('2037238022',$event)" [ngStyle]="__elementSelectionService.getStyles('2037238022')"(click)='__elementSelectionService.clear()'>
  <div class="modal-dialog modal-dialog-centered" role="document" (contextmenu)="__elementSelectionService.select('1214301184',$event)" [ngStyle]="__elementSelectionService.getStyles('1214301184')">
    <div class="modal-content" (contextmenu)="__elementSelectionService.select('959076482',$event)" [ngStyle]="__elementSelectionService.getStyles('959076482')">
      <div class="modal-body" (contextmenu)="__elementSelectionService.select('1236595507',$event)" [ngStyle]="__elementSelectionService.getStyles('1236595507')">
        <div id="lightbox" class="carousel slide" data-ride="carousel" data-interval="5000" data-keyboard="true" (contextmenu)="__elementSelectionService.select('1714343512',$event)" [ngStyle]="__elementSelectionService.getStyles('1714343512')">
          <div class="carousel-inner" (contextmenu)="__elementSelectionService.select('673207897',$event)" [ngStyle]="__elementSelectionService.getStyles('673207897')">
            <div *ngFor="let slide of kepek; let i = index" [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'" (contextmenu)="__elementSelectionService.select('1126557079',$event)" [ngStyle]="__elementSelectionService.getStyles('1126557079')">
              <img [src]="slide.img" class="w-100" alt (contextmenu)="__elementSelectionService.select('770091947',$event)" [ngStyle]="__elementSelectionService.getStyles('770091947')">
            </div>
          </div>
          <a class="carousel-control-prev" href="#lightbox" role="button" data-slide="prev" (contextmenu)="__elementSelectionService.select('1026223169',$event)" [ngStyle]="__elementSelectionService.getStyles('1026223169')"><span class="carousel-control-prev-icon" aria-hidden="true" (contextmenu)="__elementSelectionService.select('387114787',$event)" [ngStyle]="__elementSelectionService.getStyles('387114787')"></span><span class="sr-only" (contextmenu)="__elementSelectionService.select('2071437579',$event)" [ngStyle]="__elementSelectionService.getStyles('2071437579')">Previous</span></a>
          <a class="carousel-control-next" href="#lightbox" role="button" data-slide="next" (contextmenu)="__elementSelectionService.select('1666512445',$event)" [ngStyle]="__elementSelectionService.getStyles('1666512445')"><span class="carousel-control-next-icon" aria-hidden="true" (contextmenu)="__elementSelectionService.select('158750450',$event)" [ngStyle]="__elementSelectionService.getStyles('158750450')"></span><span class="sr-only" (contextmenu)="__elementSelectionService.select('157123328',$event)" [ngStyle]="__elementSelectionService.getStyles('157123328')">Next</span></a>
        </div>
      </div>
    </div>
  </div>
</div>