<div (contextmenu)="__elementSelectionService.select('336519401',$event)" [ngStyle]="__elementSelectionService.getStyles('336519401')"(click)='__elementSelectionService.clear()'>
  <div style="padding-bottom: 7px;" (contextmenu)="__elementSelectionService.select('1269631748',$event)" [ngStyle]="__elementSelectionService.getStyles('1269631748')"></div>
  <div style="font-style: italic; opacity: 0.4; font-size: larger;  padding: 7px; text-align: center" (contextmenu)="__elementSelectionService.select('1920103748',$event)" [ngStyle]="__elementSelectionService.getStyles('1920103748')">C&#233;ges fot&#243;z&#225;son k&#233;sz&#252;lt k&#233;pek</div>
  <div (contextmenu)="__elementSelectionService.select('255753798',$event)" [ngStyle]="__elementSelectionService.getStyles('255753798')"></div>
</div>
<div class="grid-container" (contextmenu)="__elementSelectionService.select('1626022324',$event)" [ngStyle]="__elementSelectionService.getStyles('1626022324')"(click)='__elementSelectionService.clear()'>
  <app-ceges-kepek (contextmenu)="__elementSelectionService.select('1154142410',$event)" [ngStyle]="__elementSelectionService.getStyles('1154142410')"></app-ceges-kepek>
</div>
