<div (contextmenu)="__elementSelectionService.select('428589217',$event)" [ngStyle]="__elementSelectionService.getStyles('428589217')"(click)='__elementSelectionService.clear()'>
  <div style="border-bottom: 1px solid #eeeeee;padding-bottom: 7px;" (contextmenu)="__elementSelectionService.select('1491794465',$event)" [ngStyle]="__elementSelectionService.getStyles('1491794465')"></div>
  <div style="font-style: italic; opacity: 0.4; font-size: larger;  padding: 7px; text-align: center" (contextmenu)="__elementSelectionService.select('2017739381',$event)" [ngStyle]="__elementSelectionService.getStyles('2017739381')">C&#258;&#169;ges fot&#258;&#322;z&#258;&#711;son k&#258;&#169;sz&#258;&#317;lt k&#258;&#169;pek</div>
  <div style="border-bottom: 1px solid #eeeeee;" (contextmenu)="__elementSelectionService.select('979964219',$event)" [ngStyle]="__elementSelectionService.getStyles('979964219')"></div>
</div>
<div class="grid-container" (contextmenu)="__elementSelectionService.select('149228900',$event)" [ngStyle]="__elementSelectionService.getStyles('149228900')"(click)='__elementSelectionService.clear()'>
  <app-ceges-kepek (contextmenu)="__elementSelectionService.select('1968271421',$event)" [ngStyle]="__elementSelectionService.getStyles('1968271421')"></app-ceges-kepek>
</div>
