<div (contextmenu)="__elementSelectionService.select('753436919',$event)" [ngStyle]="__elementSelectionService.getStyles('753436919')"(click)='__elementSelectionService.clear()'>
  <div style="padding-bottom: 7px;" (contextmenu)="__elementSelectionService.select('28804185',$event)" [ngStyle]="__elementSelectionService.getStyles('28804185')"></div>
  <div style="font-style: italic; opacity: 0.4; font-size: larger;  padding: 7px; text-align: center" (contextmenu)="__elementSelectionService.select('1384392210',$event)" [ngStyle]="__elementSelectionService.getStyles('1384392210')">C&#233;ges fot&#243;z&#225;son k&#233;sz&#252;lt k&#233;pek</div>
  <div (contextmenu)="__elementSelectionService.select('221229893',$event)" [ngStyle]="__elementSelectionService.getStyles('221229893')"></div>
</div>
<div class="grid-container" (contextmenu)="__elementSelectionService.select('1521560111',$event)" [ngStyle]="__elementSelectionService.getStyles('1521560111')"(click)='__elementSelectionService.clear()'>
  <app-ceges-kepek (contextmenu)="__elementSelectionService.select('107616474',$event)" [ngStyle]="__elementSelectionService.getStyles('107616474')"></app-ceges-kepek>
</div>
