<h3 style="font-family: 'Arimo',sans-serif; font-style: normal;
    font-weight: 400;font-size: 1.25rem;margin: 10px 0px 25px 0px" (contextmenu)="__elementSelectionService.select('1461892046',$event)" [ngStyle]="__elementSelectionService.getStyles('1461892046')"(click)='__elementSelectionService.clear()'>
  <div style="padding-top: 30px;border-bottom: 1px solid #000;" (contextmenu)="__elementSelectionService.select('1383105477',$event)" [ngStyle]="__elementSelectionService.getStyles('1383105477')"></div>
</h3>

