

  
    <h3 class="styledTitle" (contextmenu)="__elementSelectionService.select('502769089',$event)" [ngStyle]="__elementSelectionService.getStyles('502769089')"(click)='__elementSelectionService.clear()'>R&#258;&#322;lam
      <div (contextmenu)="__elementSelectionService.select('948678371',$event)" [ngStyle]="__elementSelectionService.getStyles('948678371')"></div>
      
    </h3>
    


<div class="profileImg" (contextmenu)="__elementSelectionService.select('568486845',$event)" [ngStyle]="__elementSelectionService.getStyles('568486845')"(click)='__elementSelectionService.clear()'><img src="../../../assets/tothegith/seged/profile.jpg" (contextmenu)="__elementSelectionService.select('1111484779',$event)" [ngStyle]="__elementSelectionService.getStyles('1111484779')">
</div>
<div class="about" (contextmenu)="__elementSelectionService.select('804959895',$event)" [ngStyle]="__elementSelectionService.getStyles('804959895')"(click)='__elementSelectionService.clear()'>


  <h4 (contextmenu)="__elementSelectionService.select('183535177',$event)" [ngStyle]="__elementSelectionService.getStyles('183535177')"><u (contextmenu)="__elementSelectionService.select('436107398',$event)" [ngStyle]="__elementSelectionService.getStyles('436107398')">Szakmai h&#258;&#711;tt&#258;&#169;r: </u></h4>
  <p (contextmenu)="__elementSelectionService.select('2087133676',$event)" [ngStyle]="__elementSelectionService.getStyles('2087133676')">T&#258;&#182;bb, mint 10 &#258;&#169;ves tapasztalatom van Budapesten &#258;&#169;s k&#258;&#182;rny&#258;&#169;k&#258;&#169;n l&#258;&#169;v&#313;&#8216; lak&#258;&#322;ingatlanok &#258;&#169;rt&#258;&#169;kes&#258;&#173;t&#258;&#169;s&#258;&#169;ben. Helyismeretemmel
    &#258;&#169;s gyakorlatias hozz&#258;&#711;&#258;&#711;ll&#258;&#711;sommal p&#258;&#711;r &#258;&#169;vig
    Magyarorsz&#258;&#711;g egyik legnagyobb ingatlanportfoli&#258;&#322;j&#258;&#711;t kezel&#313;&#8216; hitelint&#258;&#169;zetben seg&#258;&#173;tettem a munk&#258;&#711;t azzal, hogy
    k&#258;&#182;zrem&#258;&#351;k&#258;&#182;dtem a
    portfoli&#258;&#322; r&#258;&#169;sz&#258;&#169;t k&#258;&#169;pez&#313;&#8216; lak&#258;&#322;ingatlanok &#258;&#169;rt&#258;&#169;kes&#258;&#173;t&#258;&#169;s&#258;&#169;ben, hasznos&#258;&#173;t&#258;&#711;s&#258;&#711;ban &#258;&#169;s kezel&#258;&#169;s&#258;&#169;ben.
  </p>
  <h4 (contextmenu)="__elementSelectionService.select('1093598138',$event)" [ngStyle]="__elementSelectionService.getStyles('1093598138')"><u (contextmenu)="__elementSelectionService.select('1331883800',$event)" [ngStyle]="__elementSelectionService.getStyles('1331883800')">Szem&#258;&#169;lyes k&#258;&#182;t&#313;&#8216;d&#258;&#169;s: </u></h4>
  <p (contextmenu)="__elementSelectionService.select('624071738',$event)" [ngStyle]="__elementSelectionService.getStyles('624071738')">A lencse t&#258;&#351;loldal&#258;&#711;r&#258;&#322;l m&#258;&#711;r t&#258;&#182;bb, mint 20 &#258;&#169;ve figyelem a vil&#258;&#711;got. Az elm&#258;&#351;lt &#258;&#169;vekben a f&#258;&#169;nyk&#258;&#169;pez&#258;&#169;s ir&#258;&#711;nti
    lelkesed&#258;&#169;semet &#258;&#182;sszek&#258;&#182;t&#258;&#182;ttem az ingatlan&#258;&#169;rt&#258;&#169;kes&#258;&#173;t&#313;&#8216;i szakm&#258;&#711;mmal. M&#258;&#711;ra m&#258;&#711;r t&#258;&#182;bb ingatlan&#258;&#169;rt&#258;&#169;kes&#258;&#173;t&#313;&#8216; munkat&#258;&#711;rsam
    munk&#258;&#711;j&#258;&#711;t is seg&#258;&#173;tem az alaposan be&#258;&#711;ll&#258;&#173;tott, min&#313;&#8216;s&#258;&#169;gi ingatlanfot&#258;&#322;immal.
    A munk&#258;&#711;im egy r&#258;&#169;sze megtekinthet&#313;&#8216; a gall&#258;&#169;ria men&#258;&#317;pont alatt - de egy&#258;&#169;b t&#258;&#169;m&#258;&#711;j&#258;&#351; fot&#258;&#322;z&#258;&#711;ssal is foglalkozom.
  </p>

  <h4 (contextmenu)="__elementSelectionService.select('1621080369',$event)" [ngStyle]="__elementSelectionService.getStyles('1621080369')"><u (contextmenu)="__elementSelectionService.select('1457159603',$event)" [ngStyle]="__elementSelectionService.getStyles('1457159603')">Ami&#258;&#169;rt &#258;&#169;rdemes megb&#258;&#173;znia ingatlanfot&#258;&#322;z&#258;&#711;ssal: </u></h4>
  <p (contextmenu)="__elementSelectionService.select('244859487',$event)" [ngStyle]="__elementSelectionService.getStyles('244859487')">Az ingatlanr&#258;&#322;l k&#258;&#169;sz&#258;&#317;lt, megfelel&#313;&#8216;en be&#258;&#711;ll&#258;&#173;tott &#258;&#169;s min&#313;&#8216;s&#258;&#169;gi k&#258;&#169;pek eset&#258;&#169;n - tov&#258;&#711;bb&#258;&#711; kisebb, a f&#258;&#169;nyk&#258;&#169;peken elv&#258;&#169;gzett
    ut&#258;&#322;munk&#258;&#711;val - jelent&#313;&#8216;sen t&#258;&#182;bb
    &#258;&#169;rdekl&#313;&#8216;d&#313;&#8216; tekinti meg az ingatlant.
    Nem egyszer tapasztaltam, hogy megb&#258;&#173;z&#258;&#322;m egy-kett&#313;&#8216; m&#258;&#711;s sz&#258;&#182;gben &#258;&#169;s f&#258;&#169;nyviszonyokkal k&#258;&#169;sz&#258;&#173;tett k&#258;&#169;p ut&#258;&#711;n r&#258;&#711;d&#258;&#182;bbent,
    hogy m&#258;&#711;s sz&#258;&#173;nekkel &#258;&#169;s/vagy megvil&#258;&#711;g&#258;&#173;t&#258;&#711;ssal jobb benyom&#258;&#711;st alak&#258;&#173;that ki az ingatlanj&#258;&#711;r&#258;&#322;l - p&#258;&#169;ld&#258;&#711;ul otthonosabb&#258;&#711;
    var&#258;&#711;zsolhatja otthon&#258;&#711;t,
    hogy a vev&#313;&#8216; jobban el tudja k&#258;&#169;pzelni j&#258;&#182;v&#313;&#8216;j&#258;&#169;t az adott ingatlanban.
  </p>

  <br (contextmenu)="__elementSelectionService.select('1069192434',$event)" [ngStyle]="__elementSelectionService.getStyles('1069192434')">
  <p (contextmenu)="__elementSelectionService.select('586277893',$event)" [ngStyle]="__elementSelectionService.getStyles('586277893')">Nem &#258;&#169;rdemes megb&#258;&#173;znia ingatlanfot&#258;&#322;z&#258;&#711;ssal amennyiben &#258;&#351;gy &#258;&#169;rzi, hogy nincsen arra sz&#258;&#317;ks&#258;&#169;ge, hogy az &#258;&#711;ltalam k&#258;&#169;sz&#258;&#173;tett
    min&#313;&#8216;s&#258;&#169;gi f&#258;&#169;nyk&#258;&#169;pekkel j&#258;&#322; els&#313;&#8216; benyom&#258;&#711;st tegyen a
    lehets&#258;&#169;ges vev&#313;&#8216;re &#258;&#169;s &#258;&#173;gy esetlegesen egy j&#258;&#322;val
    poz&#258;&#173;ci&#258;&#322;b&#258;&#322;l induljon az ingatlan&#258;&#169;rt&#258;&#169;kes&#258;&#173;t&#258;&#169;s egyik alapvet&#313;&#8216; szakasz&#258;&#711;ban, az alkudoz&#258;&#711;sban.
  </p>

  <p (contextmenu)="__elementSelectionService.select('658711053',$event)" [ngStyle]="__elementSelectionService.getStyles('658711053')">
    Bizalommal forduljon hozz&#258;&#711;m az al&#258;&#711;bb el&#258;&#169;rhet&#313;&#8216;s&#258;&#169;geim b&#258;&#711;rmelyik&#258;&#169;n. H&#258;&#169;tv&#258;&#169;g&#258;&#169;n is p&#258;&#711;r &#258;&#322;r&#258;&#711;n bel&#258;&#317;l visszah&#258;&#173;vom.
    Ingatlanj&#258;&#711;nak bemutat&#258;&#711;s&#258;&#711;hoz
    megtal&#258;&#711;ljuk a legjobb be&#258;&#711;ll&#258;&#173;t&#258;&#711;st!
  </p><p (contextmenu)="__elementSelectionService.select('1795495424',$event)" [ngStyle]="__elementSelectionService.getStyles('1795495424')">
    Moln&#258;&#711;r G&#258;&#711;bor
    <br (contextmenu)="__elementSelectionService.select('7541398',$event)" [ngStyle]="__elementSelectionService.getStyles('7541398')">
    Ingatlanf&#258;&#169;nyk&#258;&#169;p&#258;&#169;sz &#258;&#169;s ingatlank&#258;&#182;zvet&#258;&#173;t&#313;&#8216;
  </p>
</div>
