
<div class="profileImg" (contextmenu)="__elementSelectionService.select('1486605643',$event)" [ngStyle]="__elementSelectionService.getStyles('1486605643')"(click)='__elementSelectionService.clear()'><img src="../../../assets/tothegith/seged/profile6.jpg" (contextmenu)="__elementSelectionService.select('1621744808',$event)" [ngStyle]="__elementSelectionService.getStyles('1621744808')">
</div>

<div class="about" (contextmenu)="__elementSelectionService.select('1178759048',$event)" [ngStyle]="__elementSelectionService.getStyles('1178759048')"(click)='__elementSelectionService.clear()'>


  <h5 (contextmenu)="__elementSelectionService.select('893567258',$event)" [ngStyle]="__elementSelectionService.getStyles('893567258')">Szakmai h&#225;tt&#233;r: </h5>
  <p (contextmenu)="__elementSelectionService.select('173672686',$event)" [ngStyle]="__elementSelectionService.getStyles('173672686')">T&#246;bb, mint 10 &#233;ves tapasztalatom van Budapesten &#233;s k&#246;rny&#233;k&#233;n l&#233;v&#337; lak&#243;ingatlanok &#233;rt&#233;kes&#237;t&#233;s&#233;ben. Helyismeretemmel
    &#233;s gyakorlatias hozz&#225;&#225;ll&#225;sommal p&#225;r &#233;vig
    Magyarorsz&#225;g egyik legnagyobb ingatlanportfoli&#243;j&#225;t kezel&#337; hitelint&#233;zetben seg&#237;tettem a munk&#225;t azzal, hogy
    k&#246;zrem&#250;k&#246;dtem a
    portfoli&#243; r&#233;sz&#233;t k&#233;pez&#337; lak&#243;ingatlanok &#233;rt&#233;kes&#237;t&#233;s&#233;ben, hasznos&#237;t&#225;s&#225;ban &#233;s kezel&#233;s&#233;ben.
  </p>
  <h5 (contextmenu)="__elementSelectionService.select('144961390',$event)" [ngStyle]="__elementSelectionService.getStyles('144961390')">Szem&#233;lyes k&#246;t&#337;d&#233;s: </h5>
  <p (contextmenu)="__elementSelectionService.select('650194510',$event)" [ngStyle]="__elementSelectionService.getStyles('650194510')">A lencse t&#250;loldal&#225;r&#243;l m&#225;r t&#246;bb, mint 20 &#233;ve figyelem a vil&#225;got. Az elm&#250;lt &#233;vekben a f&#233;nyk&#233;pez&#233;s ir&#225;nti
    lelkesed&#233;semet &#246;sszek&#246;t&#246;ttem az ingatlan&#233;rt&#233;kes&#237;t&#337;i szakm&#225;mmal. M&#225;ra m&#225;r t&#246;bb ingatlan&#233;rt&#233;kes&#237;t&#337; munkat&#225;rsam
    munk&#225;j&#225;t is seg&#237;tem az alaposan be&#225;ll&#237;tott, min&#337;s&#233;gi ingatlanfot&#243;immal.
    A munk&#225;im egy r&#233;sze megtekinthet&#337; a gall&#233;ria men&#252;pont alatt - de egy&#233;b t&#233;m&#225;j&#250; fot&#243;z&#225;ssal is foglalkozom.
  </p>

  <h5 (contextmenu)="__elementSelectionService.select('86532509',$event)" [ngStyle]="__elementSelectionService.getStyles('86532509')">Ami&#233;rt &#233;rdemes megb&#237;znia ingatlanfot&#243;z&#225;ssal: </h5>
  <p (contextmenu)="__elementSelectionService.select('1609499822',$event)" [ngStyle]="__elementSelectionService.getStyles('1609499822')">Az ingatlanr&#243;l k&#233;sz&#252;lt, megfelel&#337;en be&#225;ll&#237;tott &#233;s min&#337;s&#233;gi k&#233;pek eset&#233;n - tov&#225;bb&#225; kisebb, a f&#233;nyk&#233;peken elv&#233;gzett
    ut&#243;munk&#225;val - jelent&#337;sen t&#246;bb
    &#233;rdekl&#337;d&#337; tekinti meg az ingatlant.
    Nem egyszer tapasztaltam, hogy megb&#237;z&#243;m egy-kett&#337; m&#225;s sz&#246;gben &#233;s f&#233;nyviszonyokkal k&#233;sz&#237;tett k&#233;p ut&#225;n r&#225;d&#246;bbent,
    hogy m&#225;s sz&#237;nekkel &#233;s/vagy megvil&#225;g&#237;t&#225;ssal jobb benyom&#225;st alak&#237;that ki az ingatlanj&#225;r&#243;l - p&#233;ld&#225;ul otthonosabb&#225;
    var&#225;zsolhatja otthon&#225;t,
    hogy a vev&#337; jobban el tudja k&#233;pzelni j&#246;v&#337;j&#233;t az adott ingatlanban.
  </p>

  <br (contextmenu)="__elementSelectionService.select('1218468002',$event)" [ngStyle]="__elementSelectionService.getStyles('1218468002')">
  
  <p (contextmenu)="__elementSelectionService.select('1740422310',$event)" [ngStyle]="__elementSelectionService.getStyles('1740422310')">
    Bizalommal forduljon hozz&#225;m az al&#225;bb el&#233;rhet&#337;s&#233;geim b&#225;rmelyik&#233;n. H&#233;tv&#233;g&#233;n is p&#225;r &#243;r&#225;n bel&#252;l visszah&#237;vom.
    Ingatlanj&#225;nak bemutat&#225;s&#225;hoz
    megtal&#225;ljuk a legjobb be&#225;ll&#237;t&#225;st!
  </p><p (contextmenu)="__elementSelectionService.select('568200517',$event)" [ngStyle]="__elementSelectionService.getStyles('568200517')">
    Moln&#225;r G&#225;bor
    <br (contextmenu)="__elementSelectionService.select('112437156',$event)" [ngStyle]="__elementSelectionService.getStyles('112437156')">
    Ingatlanf&#233;nyk&#233;p&#233;sz &#233;s ingatlank&#246;zvet&#237;t&#337;
  </p>
</div>
