
<div class="profileImg" (contextmenu)="__elementSelectionService.select('946008172',$event)" [ngStyle]="__elementSelectionService.getStyles('946008172')"(click)='__elementSelectionService.clear()'><img src="../../../assets/tothegith/seged/profile6.jpg" (contextmenu)="__elementSelectionService.select('2018031167',$event)" [ngStyle]="__elementSelectionService.getStyles('2018031167')">
</div>

<div class="about" (contextmenu)="__elementSelectionService.select('368515620',$event)" [ngStyle]="__elementSelectionService.getStyles('368515620')"(click)='__elementSelectionService.clear()'>


  <h5 (contextmenu)="__elementSelectionService.select('1430496552',$event)" [ngStyle]="__elementSelectionService.getStyles('1430496552')">Szakmai h&#225;tt&#233;r: </h5>
  <p (contextmenu)="__elementSelectionService.select('609927175',$event)" [ngStyle]="__elementSelectionService.getStyles('609927175')">T&#246;bb, mint 10 &#233;ves tapasztalatom van Budapesten &#233;s k&#246;rny&#233;k&#233;n l&#233;v&#337; lak&#243;ingatlanok &#233;rt&#233;kes&#237;t&#233;s&#233;ben. Helyismeretemmel
    &#233;s gyakorlatias hozz&#225;&#225;ll&#225;sommal p&#225;r &#233;vig
    Magyarorsz&#225;g egyik legnagyobb ingatlanportfoli&#243;j&#225;t kezel&#337; hitelint&#233;zetben seg&#237;tettem a munk&#225;t azzal, hogy
    k&#246;zrem&#250;k&#246;dtem a
    portfoli&#243; r&#233;sz&#233;t k&#233;pez&#337; lak&#243;ingatlanok &#233;rt&#233;kes&#237;t&#233;s&#233;ben, hasznos&#237;t&#225;s&#225;ban &#233;s kezel&#233;s&#233;ben.
  </p>
  <h5 (contextmenu)="__elementSelectionService.select('153862146',$event)" [ngStyle]="__elementSelectionService.getStyles('153862146')">Szem&#233;lyes k&#246;t&#337;d&#233;s: </h5>
  <p (contextmenu)="__elementSelectionService.select('888108630',$event)" [ngStyle]="__elementSelectionService.getStyles('888108630')">A lencse t&#250;loldal&#225;r&#243;l m&#225;r t&#246;bb, mint 20 &#233;ve figyelem a vil&#225;got. Az elm&#250;lt &#233;vekben a f&#233;nyk&#233;pez&#233;s ir&#225;nti
    lelkesed&#233;semet &#246;sszek&#246;t&#246;ttem az ingatlan&#233;rt&#233;kes&#237;t&#337;i szakm&#225;mmal. M&#225;ra m&#225;r t&#246;bb ingatlan&#233;rt&#233;kes&#237;t&#337; munkat&#225;rsam
    munk&#225;j&#225;t is seg&#237;tem az alaposan be&#225;ll&#237;tott, min&#337;s&#233;gi ingatlanfot&#243;immal.
    A munk&#225;im egy r&#233;sze megtekinthet&#337; a gall&#233;ria men&#252;pont alatt - de egy&#233;b t&#233;m&#225;j&#250; fot&#243;z&#225;ssal is foglalkozom.
  </p>

  <h5 (contextmenu)="__elementSelectionService.select('2093874950',$event)" [ngStyle]="__elementSelectionService.getStyles('2093874950')">Ami&#233;rt &#233;rdemes megb&#237;znia: </h5>
  <p (contextmenu)="__elementSelectionService.select('249909856',$event)" [ngStyle]="__elementSelectionService.getStyles('249909856')">Meggy&#337;z&#337;d&#233;sem, hogy k&#233;t f&#337; szempont kelti fel az hirdet&#233;seket b&#246;ng&#233;sz&#337; &#233;rdekl&#337;d&#337;k figyelm&#233;t. Ezek pedig az &#225;r-alapter&#252;let ar&#225;ny, valamint a f&#233;nyk&#233;pek. &#201;n az ut&#243;bbiban tudok seg&#237;ts&#233;get ny&#250;jtani. Nem el&#233;g j&#243;nak lenni, annak is kell l&#225;tszani! A f&#233;nyk&#233;pek min&#337;s&#233;ge, &#233;s megfelel&#337; be&#225;ll&#237;t&#225;sa jav&#237;tja azt a benyom&#225;st, amit az &#233;rdekl&#337;d&#337; a hirdet&#233;s alapj&#225;n kap. Ez alapj&#225;n k&#246;vetkeztethet az ingatlantulajdonos, ak&#225;r a k&#246;zvet&#237;t&#337; ig&#233;nyess&#233;g&#233;re, hiteless&#233;g&#233;re. Ezen k&#237;v&#252;l egy nagy l&#225;t&#243;sz&#246;gben fot&#243;zott lak&#225;sr&#243;l t&#246;bbet tudunk meg, k&#246;nnyebb elk&#233;pzelni. 
     Egy ingatlan &#233;rt&#233;ke sok t&#237;zmilli&#243;s nagys&#225;grend&#369;, amihez k&#233;pest a profi f&#233;nyk&#233;pek &#225;ra elt&#246;rp&#252;l, &#237;gy a t&#246;bbsz&#246;r&#246;se t&#233;r&#252;lhet meg a v&#233;tel&#225;rban.
     &#201;ljen a lehet&#337;s&#233;ggel, hozza ki hirdet&#233;s&#233;b&#337;l a maximumot!
        
  </p>

  <br (contextmenu)="__elementSelectionService.select('1503242350',$event)" [ngStyle]="__elementSelectionService.getStyles('1503242350')">
  
  <p (contextmenu)="__elementSelectionService.select('378222797',$event)" [ngStyle]="__elementSelectionService.getStyles('378222797')">
    Bizalommal forduljon hozz&#225;m az al&#225;bb el&#233;rhet&#337;s&#233;geim b&#225;rmelyik&#233;n. H&#233;tv&#233;g&#233;n is p&#225;r &#243;r&#225;n bel&#252;l visszah&#237;vom.
    Ingatlanj&#225;nak bemutat&#225;s&#225;hoz
    megtal&#225;ljuk a legjobb be&#225;ll&#237;t&#225;st!
  </p><p (contextmenu)="__elementSelectionService.select('95273173',$event)" [ngStyle]="__elementSelectionService.getStyles('95273173')">
    Moln&#225;r G&#225;bor
    <br (contextmenu)="__elementSelectionService.select('570418258',$event)" [ngStyle]="__elementSelectionService.getStyles('570418258')">
    Ingatlanf&#233;nyk&#233;p&#233;sz &#233;s ingatlank&#246;zvet&#237;t&#337;
  </p>
</div>
