<div class="styledDoubleLines">
  <div>
    <div class="grid-container">
      <h3 class="styledTitle">Galléria
        <div></div>
      </h3>
      <div class="col">
        <a routerLink="/kepek/ingatlanok">
          Ingatlanfotózás
          <img src="../../assets/tothegith/seged/ingatlanok.jpg">
        </a>
      </div>
      <div class="col-sm">
        <a routerLink="/kepek/ceges">
          Céges fotózás
          <img src="../../assets/tothegith/seged/work_cover1080x675.jpg">
        </a>


        <a routerLink="/kepek/egyeb">
          Egyéb képek
          <img src="../../assets/tothegith/seged/wedding-290.jpg">
        </a>
      </div>
    </div>
  </div>
</div>

