

  <!---->
    <h3 class="styledTitle">Rólam
      <div></div>
      <!--<div class="styledDoubleLines"></div>-->
    </h3>
    <!--</h3>-->


<div class="profileImg"><img src="../../../assets/tothegith/seged/profile.jpg">
</div>
<div class="about">


  <h4><u>Szakmai háttér: </u></h4>
  <p>Több, mint 10 éves tapasztalatom van Budapesten és környékén lévő lakóingatlanok értékesítésében. Helyismeretemmel
    és gyakorlatias hozzáállásommal pár évig
    Magyarország egyik legnagyobb ingatlanportfolióját kezelő hitelintézetben segítettem a mumkát azzal, hogy
    közremúködtem a
    portfolió részét képező lakóingatlanok értékesítésében, hasznosításában és kezelésében.
  </p>
  <h4><u>Személyes kötődés: </u></h4>
  <p>A lencse túloldaláról már több, mint 20 éve figyelem a világot. Az elmúlt években a fényképezés iránti
    lelkesedésemet összekötöttem az ingatlanértékesítői szakmámmal. Mára már több ingatlanértékesítő munkatársam
    munkáját is segítem az alaposan beállított, minőségi ingatlanfotóimmal.
    A munkáim egy része megtekinthető a galléria menüpont alatt - de egyéb témájú fotózással is foglalkozom.
  </p>

  <h4><u>Amiért érdemes megbíznia ingatlanfotózással: </u></h4>
  <p>Az ingatlanról készült, megfelelően beállított és minőségi képek esetén - továbbá kisebb, a fényképeken elvégzett
    utómunkával - jelentősen több
    érdeklődő tekinti meg az ingatlant.
    Nem egyszer tapasztaltam, hogy megbízóm egy-kettő más szögben és fényviszonyokkal készített kép után rádöbbent,
    hogy más színekkel és/vagy megvilágítással jobb benyomást alakíthat ki az ingatlanjáról - például otthonosabbá
    varázsolhatja otthonát,
    hogy a vevő jobban el tudja képzelni jövőjét az adott ingatlanban.
  </p>

  <br>
  <p>Nem érdemes megbíznia ingatlanfotózással amennyiben úgy érzi, hogy nincsen arra szüksége, hogy az általam készített
    minőségi fényképekkel jó első benyomást tegyen a
    lehetséges vevőre és így esetlegesen egy jóval
    pozícióból induljon az ingatlanértékesítés egyik alapvető szakaszában, az alkudozásban.
  </p>

  <p>
    Bizalommal forduljon hozzám az alább elérhetőségeim bármelyikén. Hétvégén is pár órán belül visszahívom.
    Ingatlanjának bemutatásához
    megtaláljuk a legjobb beállítást!
  <p>
    Molnár Gábor
    <br>
    Ingatlanfényképész és ingatlanközvetítő
  </p>
</div>
