.styledTitle {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 10px 0px 25px 0px
}

.styledTitle div {
  padding-top: 30px;
  border-bottom: 1px solid #000;
}

.profileImg {
  margin-top: 5%;
  text-align: center;
  border-radius: 50%;
  padding-bottom: 40px;
}

.profileImg img {
  vertical-align: middle;
  border-radius: 50%;
  width: 200px;
  opacity: 1.05;
}

.grid-container {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 40% auto auto 40%;
}


.about {
  font-family: "Kalam";
}

p {
  text-align: justify;
  text-justify: inter-word;
}
