
<div class="profileImg"><img src="../../../assets/tothegith/seged/profile6.jpg">
</div>

<div class="about">


  <h5>Szakmai háttér: </h5>
  <p>Több, mint 10 éves tapasztalatom van Budapesten és környékén lévő lakóingatlanok értékesítésében. Helyismeretemmel
    és gyakorlatias hozzáállásommal pár évig
    Magyarország egyik legnagyobb ingatlanportfolióját kezelő hitelintézetben segítettem a munkát azzal, hogy
    közremúködtem a
    portfolió részét képező lakóingatlanok értékesítésében, hasznosításában és kezelésében.
  </p>
  <h5>Személyes kötődés: </h5>
  <p>A lencse túloldaláról már több, mint 20 éve figyelem a világot. Az elmúlt években a fényképezés iránti
    lelkesedésemet összekötöttem az ingatlanértékesítői szakmámmal. Mára már több ingatlanértékesítő munkatársam
    munkáját is segítem az alaposan beállított, minőségi ingatlanfotóimmal.
    A munkáim egy része megtekinthető a galléria menüpont alatt - de egyéb témájú fotózással is foglalkozom.
  </p>

  <h5>Amiért érdemes megbíznia: </h5>
  <p>Meggyőződésem, hogy két fő szempont kelti fel az hirdetéseket böngésző érdeklődők figyelmét. Ezek pedig az ár-alapterület arány, valamint a fényképek. Én az utóbbiban tudok segítséget nyújtani. Nem elég jónak lenni, annak is kell látszani! A fényképek minősége, és megfelelő beállítása javítja azt a benyomást, amit az érdeklődő a hirdetés alapján kap. Ez alapján következtethet az ingatlantulajdonos, akár a közvetítő igényességére, hitelességére. Ezen kívül egy nagy látószögben fotózott lakásról többet tudunk meg, könnyebb elképzelni. 
     Egy ingatlan értéke sok tízmilliós nagyságrendű, amihez képest a profi fényképek ára eltörpül, így a többszöröse térülhet meg a vételárban.
     Éljen a lehetőséggel, hozza ki hirdetéséből a maximumot!
        
  </p>

  <br>
  
  <p>
    Bizalommal forduljon hozzám az alább elérhetőségeim bármelyikén. Hétvégén is pár órán belül visszahívom.
    Ingatlanjának bemutatásához
    megtaláljuk a legjobb beállítást!
  <p>
    Molnár Gábor
    <br>
    Ingatlanfényképész és ingatlanközvetítő
  </p>
</div>
