h3, h5{

font-family: "Montserrat";
	font-weight: 600;
}
.profileImg {
  text-align: center;
  border-radius: 50%;
  padding: 7px 0px 40px;
}

.profileImg img {
	margin-top: 45px;
	vertical-align: middle;
  border-radius: 50%;
  width: 200px;
  /*opacity: 0.9;*/
}

.grid-container {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 40% auto auto 40%;
}



.about{
  font-family: "Montserrat";
}


.styledTitle {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 10px 0px 10px 0px
}

.styledTitle div {
  padding-top: 30px;

}

.styledDoubleLines {
  margin: 20px 10% 30px 10%;
  border-top-style: solid;
}


/* .circle{ */
/*   display: inline-block; */
/*   width: 50px; */
/*   height: 50px; */
/*   border-radius: 50%; */
/*   border-style: solid; */
/*   border-width: 2px; */
/*   border-color: blue; */
/*   background-color: rgba(0, 0, 0, 0); */
/*   position: absolute; */
/*   top:0; */
/*   left:0; */
/*   pointer-events:none; */
/* } */

