<h3 style="font-weight: 700;font-size: 2.25rem;margin: 10px 0px 25px 0px">Rólam
  <div style="padding-top: 30px;border-bottom: 1px solid #000;"></div>
</h3>
<div style="text-align: center; border-radius: 50%;padding-bottom: 40px;"><img src="../../../assets/tothegith/profile.jpg"
                                                                               style="vertical-align: middle;border-radius: 50%; width: 200px;">
</div>
<div class="about">


  <h4><u>Szakmai háttér: </u></h4>
  <p>Több, mint 10 éves tapasztalattal rendelkezek a Budapesten és környékén Pest megye északi részén tal környékén a
    lakóingatlanok értékesítése területén. Helyismeretemmel és gyakorlatias hozzáállássommal pár évig
    Magyarország egyik legnagyobb hitelintézetének az ingatlanportfolióját kezelő osztályát erősítettem azzal, hogy
    közremúködtem a
    portfolió részét képező lakóingatlanok értékesítésében, hasznosításában és kezelésében.
  </p>
  <h4><u>Személyes kötődés: </u></h4>
  <p>A lencse túloldaláról már több, mint 20 éve figyelem a világot. Az elmúlt években a fényképezés iránti
    lelkesedésemet összekötöttem az ingatlanértékesítői szakmámmal
    is. Mára már több ingatlanértéksítő munkatársam munkáját is segítem alaposan beállított, minőségi ingatlanfotóimmal.
    A munkáim egy része megtekinthető a galléria menüpont alatt - de egyéb témájú fotózással is foglalkozom munkaként is
    és szabadidőmben is.
  </p>

  <h4><u>Amiért érdemes megbíznia ingatlanfotózással: </u></h4>
  <p>Megfelelően beállított, minőségi képekkel - továbbá kisebb, a fényképeken elvégzett utómunkával - jelentősen több
    érdeklődő tekinti meg az ingatlant.
    Nem egyszer tapasztaltam, hogy megbízóm egy-kettő más szögben és fényviszonyokkal készített kép után rádöbbent,
    hogy más a színekkel és a világítással jobb benyomást alakíthat ki és például otthonosabbá varázsolhatja otthonát,
    hogy a vevő jobban el tudja képzelni
    jövőjét az ingatlanban.
  </p>

  <br>
  <p>Nem érdemes megbíznia ingatlanfotózással amennyiben úgy érzi hogy nincs arra szüksége, hogy az általam készített
    minőségi fényképekkel jó első benyomást tegyen a
    lehetséges vevőre és így esetlegesen egy jelentősen jobb
    pozícióból induljon az ingatlanértékesítés egyik alapvető szakaszában, az alkudozásnál.
  </p>

  <p>
    Bizalommal forduljon hozzám az alább elérhetőségeim bármelyikén. Hétvégén is pár órán belül visszahívom.
    Ingatlanjának bemutatásához
    megtaláljuk a legjobb beállítást!
  <p>
    Molnár Gábor
    <br>
    Ingatlanfényképész és ingatlanközvetítő
  </p>
</div>
